<style>

    
    div.bubile {
        width: 90%;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
    }
    
</style>
<table width="100%" border="0" align="center" dir="rtl">
  <tr>
      <td style="text-decoration:underline;text-align: right;font-size: 24px;"><strong>هام جدا</strong></td>
  </tr>
  <tr >
      <td style="text-align:center;"><br /><div class="bubile"><br />
        *فى حالة تأخر الطائرة عن الاقلاع من مطار القاهرة يرجى ضرورة اتصال المشرف على مكتب القاهرة<br />
*و فى حالة تأخر الخروج من المطار بالسعودية يرجى ضرورة المتابعة مع مكتب السعودية<br />
*يتم سحب الباص بعد الانتظار بالمطار 3 ساعات<br />
*<b style="text-decoration:underline;">يتم سداد رسوم المطار من قبل العميل بالمملكة العربية السعودية</b>
          <br /></div>
          
          <br />
          <b style="font-size:13px;font-weight: bold;">يرجى تسديد كامل القيمة فى الحساب 383/137/80 بنك مصر فرع شريف و اشعارنا بصورة من الايداع </b><br />
الادارة العامة: المملكة العربية السعودية-جدة-مركز الخليج الكعكى- طريق المدينة الطالع- الدور الرابع- مكتب 404 <br />
هاتف:009661216102226      فاكس:00966126641118

    </td>
  </tr>

</table>