@charset "UTF-8";


/* Containers
---------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
---------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: right;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
---------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
---------------------------------------------------------------------*/

.container_12 .grid_1 {
	width:60px;
}

.container_12 .grid_2 {
	width:140px;
}

.container_12 .grid_3 {
	width:220px;
}

.container_12 .grid_4 {
	width:300px;
}

.container_12 .grid_5 {
	width:380px;
}

.container_12 .grid_6 {
	width:460px;
}

.container_12 .grid_7 {
	width:540px;
}

.container_12 .grid_8 {
	width:620px;
}

.container_12 .grid_9 {
	width:700px;
}

.container_12 .grid_10 {
	width:780px;
}

.container_12 .grid_11 {
	width:860px;
}

.container_12 .grid_12 {
	width:940px;
}

/* Prefix Extra Space >> 12 Columns
---------------------------------------------------------------------*/

.container_12 .prefix_1 {
	padding-left:80px;
}

.container_12 .prefix_2 {
	padding-left:160px;
}

.container_12 .prefix_3 {
	padding-left:240px;
}

.container_12 .prefix_4 {
	padding-left:320px;
}

.container_12 .prefix_5 {
	padding-left:400px;
}

.container_12 .prefix_6 {
	padding-left:480px;
}

.container_12 .prefix_7 {
	padding-left:560px;
}

.container_12 .prefix_8 {
	padding-left:640px;
}

.container_12 .prefix_9 {
	padding-left:720px;
}

.container_12 .prefix_10 {
	padding-left:800px;
}

.container_12 .prefix_11 {
	padding-left:880px;
}

/* Suffix Extra Space >> 12 Columns
---------------------------------------------------------------------*/

.container_12 .suffix_1 {
	padding-right:80px;
}

.container_12 .suffix_2 {
	padding-right:160px;
}

.container_12 .suffix_3 {
	padding-right:240px;
}

.container_12 .suffix_4 {
	padding-right:320px;
}

.container_12 .suffix_5 {
	padding-right:400px;
}

.container_12 .suffix_6 {
	padding-right:480px;
}

.container_12 .suffix_7 {
	padding-right:560px;
}

.container_12 .suffix_8 {
	padding-right:640px;
}

.container_12 .suffix_9 {
	padding-right:720px;
}

.container_12 .suffix_10 {
	padding-right:800px;
}

.container_12 .suffix_11 {
	padding-right:880px;
}

/* Push Space >> 12 Columns
---------------------------------------------------------------------*/

.container_12 .push_1 {
	left:80px;
}

.container_12 .push_2 {
	left:160px;
}

.container_12 .push_3 {
	left:240px;
}

.container_12 .push_4 {
	left:320px;
}

.container_12 .push_5 {
	left:400px;
}

.container_12 .push_6 {
	left:480px;
}

.container_12 .push_7 {
	left:560px;
}

.container_12 .push_8 {
	left:640px;
}

.container_12 .push_9 {
	left:720px;
}

.container_12 .push_10 {
	left:800px;
}

.container_12 .push_11 {
	left:880px;
}

/* Pull Space >> 12 Columns
---------------------------------------------------------------------*/

.container_12 .pull_1 {
	left:-80px;
}

.container_12 .pull_2 {
	left:-160px;
}

.container_12 .pull_3 {
	left:-240px;
}

.container_12 .pull_4 {
	left:-320px;
}

.container_12 .pull_5 {
	left:-400px;
}

.container_12 .pull_6 {
	left:-480px;
}

.container_12 .pull_7 {
	left:-560px;
}

.container_12 .pull_8 {
	left:-640px;
}

.container_12 .pull_9 {
	left:-720px;
}

.container_12 .pull_10 {
	left:-800px;
}

.container_12 .pull_11 {
	left:-880px;
}

/* Clear Floated Elements
---------------------------------------------------------------------*/

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Basic HTML
---------------------------------------------------------------------*/


p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 6px;
}

th {
	text-align: left;
}

.full {
	width: 100%;
}

/* relative width */

.w13 {
	width: 33%; /* 1/3 */
}
.w23 {
	width: 66%; /* 2/3 */
}
.w12 {
	width: 50%; /* 1/2 */
}
.w14 {
	width: 25%; /* 1/4 */
}
.w34 {
	width: 75%; /* 3/4 */
}

/* Forms
---------------------------------------------------------------------*/

form { 
	overflow: auto; 
}
input, select { 
	vertical-align:middle; 
}
input[type="radio"] { 
	margin: 0 
}
input[type="text"],
input[type="password"],
input[type="select"],
input[type="search"],
input[type="file"],
textarea, select { 
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style:solid;
	border-width:1px;
	padding: 4px; 
	color: #777;
}
textarea { 
	line-height: 18px;
	overflow: auto;
}
textarea.small{ 
	height:5.5em; 
}
textarea.medium{ 
	height:10em; 
}
textarea.large{ 
	height:20em; 
}

input.half, select.half, textarea.half{ 
	width:50%; 
}
input.full, select.full, textarea.full{ 
	width:95%; 
}
input.title { 
	font-size:20px; 
}

input[type="submit"],
input[type="reset"],
input[type="button"]{ 
	margin-bottom: 0; 
}

input:focus, textarea:focus, select:focus {
	border-color: #969696;
	outline-width:0; /* No outline border for Safary */
}

fieldset {
	margin:10px 0 0;
	padding:6px;
	position:relative;
	background: #fff;
}
legend {
	background:#fff;
	color:#93BB3A;
	font-weight:bold;
	padding:0 6px 0 0;
}
label {
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
}
label.required:before {
	content: "*";
	color:red;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
label.ok {
	background:url("../img/valid.gif") no-repeat;
	padding-left:16px;
}
label.error {
	color:#d00;
	text-transform: none;
	margin-left:6px;
}
label.choice {
	vertical-align:middle;
	font-weight:normal;
	text-transform: none;
}

input.error, select.error, textarea.error {
	background: #FFE6DF;
}

fieldset small {
	color:#999;
	font-size:11px;
	display:block;
} 

.btn {
	display: inline-block;
	padding: 5px 10px;
	color: #fff !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	font-family: Tahoma, Arial, sans-serif;
	position: relative;
	cursor: pointer;
	border:none;
	background:#666;
}
.btn:hover, .btn:focus, .btn:active {
	outline:medium none;
	opacity: .9;
}
.btn-custom {
	color: #fff !important;
	background-color: #0896FF !important;
}

form p {
	margin-bottom: 10px;
}

button:hover {
	opacity: .9;
	cursor:pointer;
}

/* Top
---------------------------------------------------------------------*/

a#totop {
	background:#111;
	bottom:1em;
	display:block;
	font-size:11px;
	opacity:.5;
	padding:12px;
	position:fixed;
	right:1em;
	color:#ccc;
	text-decoration:none;
	cursor:pointer;
}
a#totop:hover, a#totop:focus, a#totop:active{
	color:#fff;
	text-decoration:none;
}

/* Main page
---------------------------------------------------------------------*/

.container {
	background: #fff;
	box-shadow:0px 0px 8px #999;
}

big, .big {
	font-size: 120% !important;
	line-height: 80%; 
}

.fl {
	/* direction: rtl; */
	float: left;
	margin-left: 10px;
}
.fr {
	float: right;
}
.tl {
	text-align: left;
}
.tr {
	text-align: left;
}
.tc {
	text-align: center;
}
.tj {
	text-align: justify;
} 

.color-green {
	color: #3FBD65;
}
.color-red {
	color: #DC2521;
}

hr.thin {
	margin: 12px 0 10px;
	border-color: #eee;
}

h2.headline {
	color: #fff;
	font-size: 17px;
	font-weight: normal;
	height: 32px;
	letter-spacing: -1px;
	line-height: 2em;
	padding: 0 10px;
	box-shadow: 0px 2px 0px #999999;
	background-color: #A2A2A2;
}
h2.gray {
	background:#eee;
	color:#666;
	font-size:17px;
	height:32px;
	letter-spacing:-1px;
	line-height:2em;
	padding:0 10px;
	box-shadow:0px 2px 0px #ddd;
	text-shadow:0px 1px 0px #fcfcfc;
}

.box {
    border: 1px solid #E6E6E6;
    background: #FAFAFA;
   color: #666;
}
.serach_btn{
    display: inline-block;
    border: 1px solid #E6E6E6;
    background: #FAFAFA;
    color: #666;
}

.radius {
	border-radius: 8px;
}
.radius-left {
	border-radius: 8px 0 0 8px;
}
.radius-right {

	border-radius: 0 8px 8px 0;
}

.fixheight {
	height: 428px;
	overflow: hidden;
}

.padded {
	padding: 8px !important;
}

.dashed {
	border-top:1px dashed #eee;
}

#logo {
	background: url(../img/logo-green.png) no-repeat;
	position: relative;
	width: 430px;
	height: 36px;
	top: 16px;
}

#navigation {
	background:#636363;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	height:38px;
	margin-bottom:10px;
	box-shadow:0px 3px 0px #aaa;
}

#nav, #nav > ul {
	line-height:1;
	list-style:none outside none;
	margin:0;
	padding:0 10px 0 0;
}
#nav {
	float:left;
	height:36px;
}
#nav > li {
	float:left;
	margin:0 2px 0 0;
	width:auto;
	position: relative;
}
#nav > li.separator {
	background:#4A4A4A;
	border-right:1px solid #848484;
	height:38px;
	width:1px;
}

.current_page_item {
	background: #2E2E2E;
	border-radius: 8px;
}
#nav > li:hover {
	background: #444;
}
#nav > li:first-child:hover {
	border-radius: 8px 0 0 8px;
}

#nav > li a {
	color:#ddd;
	display:block;
	line-height:38px;
	padding:0 10px;
	z-index:100;
	text-decoration:none;
}
#nav .current_page_item a {
	text-shadow:1px 1px 0 #222;
}
#nav > li a:hover, #nav .current_page_item a {
	color:#fff;
	text-decoration:none;
}

#nav .dropdown_submenu{
	position:absolute;
	left:0px;
	font-size:11px;
	background: #444;
	z-index:1000;
	display:none;
}
#nav .single{
	width: 150px;
}
#nav .double{
	width: 300px;
}
#nav .tripple{
	width: 450px;
}
#nav a.dropdown_subfoot{
	background-color:#62BA37;
	color:#eee;
	display:block;
	clear:both;
	font-size:11px;
	text-transform: uppercase;
	text-align: right;
	font-weight: bold;
}
#nav li.dropdown_heading{
	font-family: Georgia, serif;
	font-weight: bold;
	color:#eee;
	text-shadow:0 1px 0 #222;
	padding:0 0 10px;
	font-size: 14px;
}

#nav .dropdown_submenu ul{
	list-style:none;
	float:left;
	margin:0;
	padding:10px;
}
#nav .dropdown_submenu li {
	margin-left: 16px;
}
#nav .dropdown_submenu li a {
	line-height: 24px;
	padding:0 0 0 10px;
	border-left:2px solid #555;
}
#nav .dropdown_submenu li a:hover {
	text-shadow:0 0 3px #888;
}

.box p {
	padding:0 2px;
}

.box h3 {
	color:#40BDF4;
	font-size:18px;
}
.box h3 a{
	color: #62BA37;
	text-decoration: none;
}
.box h3 a:hover{
	color: #666;
}

.price {
	font-weight: bold;
}
.price em {
	color: #f00;
	font: bold 20px Georgia, serif;
}

#topmenu {
	color: #979797;
	margin: 0;
}
#topmenu a {
	color: #979797;
	text-decoration: none;
}
#topmenu a:hover {
	color: #7CC458;
}

.callcenter small {
	display:block;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}
.callcenter span {
	color:#62BA37;
	font-size:2em;
	font-weight:bold;
	line-height:1.2em;
}

.smallselect {
	font-size:11px;
	margin: 0 0 11px;
	padding: 2px;
}

ul.list {
	padding: 0 8px;
	margin-top: 6px;
	list-style: none;
}
ul.list .price {
	color: #75CA4B;
}
ul.list li {
	border-bottom:1px dotted #ccc;
	padding: 4px 0;
}
ul.list a {
	font-weight: bold;
	text-decoration: none;
	font-size:12px;
}
ul.list li.selected {
	background: #eee;
}

#top-destination-panel {
	background: #fff;
	margin:16px 0;
	padding:1px 8px 4px;
}

.breadcrumb {
	border-bottom: 1px dashed #eee;
	padding: 0 0 8px 10px;
}

/* Footer
---------------------------------------------------------------------*/

#subfooter {
	background: #62BA37;
	color: #fff;
	width: 100%;
	border-top:5px solid #75CA4B;
	padding-bottom:1em;
}

#footer {
	background: #363636;
	color: #aaa;
	width: 100%;
	padding-bottom:2em;
	border-top:5px solid #444;
}

#footer h3 {
	font-size: 17px;
	color: #fff;
	margin: 10px 0;
}

#footer a {
	text-decoration: none;
	color: #ccc;
	text-shadow:0 1px 0 #222;
}
#footer a:hover {
	color: #fff;
}

#footer ul, #footer li {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#footer li {
	border-bottom:1px solid #444;
	padding: 4px 0;
}

#footer input[type="text"],
#footer input[type="password"] {
	border: 1px solid #fff;
}

/* Search page
---------------------------------------------------------------------*/

.oddbox {
	background: #fefefe;
}
.odditem {
	background: #ffffea;
}

.searchpanel {
	color: #666;
}
.searchpanel h3 {
	margin-bottom:6px;
}

.searchpanel h1 {
	color:#6D6D6D;
}

.infopanel {
	margin-bottom: 4px;
}

.infopanel h3 a{
	font-size:18px;
	text-decoration: none;
}
.infopanel h3 a:hover{
	text-decoration: underline;
}

.infopanel a.previewimg img {
	margin: 0 10px 10px 0;
	padding: 6px;
	background: #fff;
	border:1px solid #eee;
}

.infopanel img.big {
	margin: 0 0 10px 10px;
	padding: 6px;
	background: #fff;
	border:1px solid #eee;
	float:right;
}
.infopanel img.small {
	margin: 2px;
	padding: 4px;
	background: #fff;
	border:1px solid #eee;
	width:50px;
}

.infopanel h6 {
	background:#EEE;
	color:#666;
	font-size:14px;
	margin:1em 0 0.5em;
	padding:4px 10px;
	text-transform:uppercase;
	text-shadow:0 1px 0 #fcfcfc;
}

.address {
	font:italic 12px Georgia,"Times New Roman",Times,serif;
}

span.label {
	font:bold 10px/1.2 "tahoma",sans-serif;
	padding:1px 2px;
	color:#fff;
}
span.labelred {
	background-color:#df0000;
}
span.labelgreen {
	background-color:#4BA508;
}

.score {
	margin: 0 6px 6px 0;
}
.score b {
	font:bold 26px/30px Georgia,"Times New Roman",Times,serif;
	text-shadow:0 1px 0 #fcfcfc;
}

tr.selected {
	border:1px solid #eee;
	font-weight:bold;
}
tr.selected td {
	padding: 0 4px;
}

table.roomlist {
	direction: ltr;
	font-size: 11px;
	clear: both;
}
table.roomlist tr {
	border-bottom: 1px dotted #ddd;
}
table.roomlist td, table.roomlist th {
	padding:2px 4px;
}
table.roomlist th {
	background:#eee;
}
table.roomlist .price {
	color: #390;
	font-family: Georgia,"Times New Roman",Times,serif;
}
table.roomlist .price span {
	color: #999;
	font-weight: normal;
	text-decoration: line-through;
}

p.comment_good {
	background: url(../img/plus-small.png) no-repeat scroll 0 2px transparent;
	padding: 0 0 0 20px;
}
p.comment_bad {
	background: url(../img/minus-small.png) no-repeat scroll 0 2px transparent;
	padding: 0 0 0 20px;
}

.baloon-red, .baloon-green {
	width: 69px;
	height: 64px;
	display: block;
	margin: 0 auto;
}
.baloon-red {
	background: url(../img/baloon-red.png) no-repeat 0 0 transparent;
}
.baloon-green {
	background: url(../img/baloon-green.png) no-repeat 0 0 transparent;
}
.baloon-green b, .baloon-red b {
	position: relative;
	top: 20px;
	font-size: 16px;
	line-height:14px;
}
.baloon-green b {
	color: #3FBD65;
}
.baloon-red b {
	color: #DC2521;
}

/* Content boxes */

.content-box {
	background:#fff;
	margin:8px 0 0;
	display:inline-block;
	width:99%;
}
.content-box .headers {
	margin: 6px;
	font-weight: bold;
}
.content-box .header h3 {
	float:left;
	margin:0;
	padding:6px 8px;
	font-size: 14px;
	color: #fff;
}
.content-box .header h3 img{
	float:left;
	margin:1px 4px 0 0;
}
.content-box .section {
	margin: 8px;
}
.content-box-closed {
}
.content-box-closed .header{
	background: #fff url("../img/toggle.gif") no-repeat scroll 98% 10px;
}
.content-box-closed .section {
	display:none
}
.content-box a {
	color: #663300;
	text-decoration: none;
}
.content-box a:hover {
	text-decoration: underline;
}

/* Image preview */

#imgPreviewWithStyles {
	background: #222 url(../img/loading.gif) no-repeat center;
	border-radius: 8px;
	padding: 4px;
	z-index: 999;
	border: none;
	min-width: 32px;
	min-height: 32px;
}
#imgPreviewWithStyles span {
	color: white;
	font-size: 1em;
	text-align: center;
	display: block;
	padding: 10px 0 3px 0;
}

/* Info/Alert/Tip/Success boxes
---------------------------------------------------------------------*/

div.note, span.note, div.info, span.info, div.alert, span.alert, div.tip, span.tip, div.success, span.success {
	margin:10px 0;
	padding:8px 10px 8px 40px;
}

div.note, span.note {
	padding:8px 10px;
	background:#E4EBF1;
	border-bottom:1px solid #D4D9DE;
	border-top:1px solid #D4D9DE;
}

div.info, span.info {
	background:url("../img/boxes/info.png") no-repeat scroll 8px 5px #E4EBF1;
	border-bottom:1px solid #D4D9DE;
	border-top:1px solid #D4D9DE;
}

div.alert, span.alert {
	background:url("../img/boxes/alert.png") no-repeat scroll 8px 5px #FFE6DF;
	border-bottom:1px solid #FFD9CF;
	border-top:1px solid #FFD9CF;
}

div.tip, span.tip {
	background:url("../img/boxes/tip.png") no-repeat scroll 8px 5px #FDF9E3;
	border-bottom:1px solid #FAE7BE;
	border-top:1px solid #FAE7BE;
}

div.success, span.success {
	background:url("../img/boxes/success.png") no-repeat scroll 8px 5px #EAF7D9;
	border-bottom:1px solid #BBDF8D;
	border-top:1px solid #BBDF8D;
}

.closeable a.close {
	float: right;
	border: 0 none !important;
	font-weight: bold;
	color: #666 !important;
	text-decoration: none;
}
div.info a.close, span.info a.close {
	color: #82919E !important;
}
div.alert a.close, span.alert a.close {
	color: #CF563D !important;
}
div.tip a.close, span.tip a.close {
	color: #D6A23D !important;
}
div.success a.close, span.success a.close {
	color: #238221 !important;
}

div.steps {
	background: #eee;
	margin:10px 2px 0 0;
	padding:8px 10px;
	color: #999;
}
div.stepped {
	background: #75CA4B;
	color: #fff;
}
div.steps h4 {
	margin-bottom: 0;
}

div.triangle {
	border-left:12px solid #fff;
	border-right:12px solid #fff;
	border-top:12px solid #75CA4B;
	clear:both;
	height:0;
	line-height:0;
	width:1px;
	margin-left: 10px;
}

/* Progress bars
---------------------------------------------------------------------*/

div.progress {
	display: block;
	height: 16px;
	padding: 0;
	min-width: 200px;
	background-color: #eee;
	margin: 0;
}
div.progress, div.progress span {
	border-radius: 4px;
}
div.progress span {
	display: block;
	height: 16px;
	margin: 0;
	padding: 0;
	text-align:center;
	width:0;
}
div.progress span b{
	color:#fff;
	line-height:16px;
	padding-left:2px;
	font-size:11px;
}

.progress-yellow span {
	background: #D7CB00;
}
.progress-green span {
	background: #3FBD65;
}
.progress-red span {
	background: #DC2521;
}

/* jQuery date picker
---------------------------------------------------------------------*/

.datepick {
	background-color: #fff;
	color: #222;
	border: 2px solid #62BA37;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 90%;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-popup {
	z-index: 1000;
}
.datepick-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
}
.datepick a {
	color: #fff;
	text-decoration: none;
}
.datepick a.datepick-disabled {
	color: #888;
	cursor: auto;
}
.datepick button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #fcc;
    border: none;
    border-radius: 0.25em;
    font-weight: bold;
}
.datepick-nav, .datepick-ctrl {
	float: left;
	width: 100%;
	background-color: #62BA37;
}
.datepick-ctrl {
	background-color: #62BA37;
	font-weight: bold;
}
.datepick-cmd {
	width: 30%;
}
.datepick-cmd:hover {
	background-color: #75CA4B;
	color: #fff;
}
.datepick-ctrl .datepick-cmd:hover {
	background-color: #75CA4B;
}
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}
a.datepick-cmd {
	height: 1.5em;
}
button.datepick-cmd {
	text-align: center;
}
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
}
.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
}
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
	float: right;
}
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}
.datepick-month-nav {
	float: left;
	text-align: center;
}
.datepick-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.datepick-month-nav span {
	color: #888;
}
.datepick-month-row {
	clear: left;
}
.datepick-month {
	float: left;
	width: 15em;
	border: 1px solid #fff;
	text-align: center;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
	background-color: #e0e0e0;
	color: #222;
	font-weight: bold;
	padding: 0;
}
.datepick-month-header select, .datepick-month-header input {
	border: none;
	font-size: 11px;
}
.datepick-month-header input {
	position: absolute;
	display: none;
}
.datepick-month table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}
.datepick-month thead {
	border-bottom: 1px solid #aaa;
}
.datepick-month th, .datepick-month td {
	margin: 0em;
	padding: 0em;
	font-weight: normal;
	text-align: center;
	color: #aaa;
}
.datepick-month thead tr {
	border: 1px solid #fff;
}
.datepick-month td {
	background-color: #eee;
	border: 1px solid #fff;
}
.datepick-month td.datepick-week * {
	background-color: #e0e0e0;
	color: #222;
	border: none;
}
.datepick-month a {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
	background-color: #eee;
	color: #000;
	text-decoration: none;
}
.datepick-month span {
	display: block;
	width: 100%;
	padding: 0.125em 0em;
}
.datepick-month td span {
	color: #ccc;
}
.datepick-month td .datepick-other-month {
	background-color: #fff;
}
.datepick-month td .datepick-weekend {
	background-color: #ddd;
}
.datepick-month td .datepick-today {
	background-color: #f90;
	font-weight:bold;
}
.datepick-month td .datepick-highlight {
	background-color: #75CA4B;
	color: #fff;
}
.datepick-month td .datepick-selected {
	background-color: #75CA4B;
}
.datepick-status {
	clear: both;
	text-align: center;
}
.datepick-clear-fix {
	clear: both;
}
.datepick-cover {
    display: none;
    display/**/: block;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
}

img.trigger {
	background: url(../img/calendar.gif) no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	position: relative;
	margin: 0;
	right: 22px;
	top: 5px;
}

/* Nyro popup window
---------------------------------------------------------------------*/

div#nyroModalFull {
	font-size: 12px;
	color: #777;
}
div#nyroModalFull div#nyroModalLoading {
	border: 6px solid #777;
	width: 150px;
	height: 150px;
	text-indent: -9999em;
	background: #fff url(../img/loader.gif) no-repeat;
	background-position: center;
}
div#nyroModalFull div#nyroModalLoading.error {
	border: 6px solid #f66;
	line-height: 20px;
	padding: 20px;
	width: 300px;
	height: 100px;
	text-indent: 0;
	background: #fff;
}
div#nyroModalFull div#nyroModalWrapper {
	background: #fff;
	border: 6px solid #777;
}
div#nyroModalFull div#nyroModalWrapper a#closeBut {
	position: absolute;
	display: block;
	top: -13px;
	right: -13px;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: url(../img/nyro/close.gif) no-repeat;
	outline: 0;
}
div#nyroModalFull div#nyroModalWrapper h1#nyroModalTitle {
	margin: 0;
	padding: 0;
	position: absolute;
	top: -36px;
	left: 0;
	color: #ddd;
}
div#nyroModalFull div#nyroModalWrapper div#nyroModalContent {
	overflow: auto;
}
div#nyroModalFull div#nyroModalWrapper div.wrapper div#nyroModalContent {
	padding: 5px;
}
div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent {
	position: relative;
	overflow: hidden;
	text-align: center;
}
div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent img {
	vertical-align: baseline;
}
div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent div {
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
	padding: 10px;
	margin: 10px;
	border: 1px white dotted;
	overflow: hidden;
	opacity: 0.2;
}
div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent div:hover {
	opacity: 0.5;
	cursor: help;
}
div#nyroModalFull div#nyroModalWrapper a.nyroModalPrev, div#nyroModalFull div#nyroModalWrapper a.nyroModalNext {
	z-index: 105;
	outline: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 40%;
	cursor: pointer;
	text-indent: -9999em;
	background: left 20% no-repeat;
	background-image: url(data:image/gif;base64,AAAA); /* Trick IE6 */
}
div#nyroModalFull div#nyroModalWrapper div.wrapperSwf a.nyroModalPrev, div#nyroModalFull div#nyroModalWrapper div.wrapperSwf a.nyroModalNext, div#nyroModalFull div#nyroModalWrapper div.wrapper a.nyroModalPrev, div#nyroModalFull div#nyroModalWrapper div.wrapper a.nyroModalNext {
	height: 60%;
	width: 20%;
}
div#nyroModalFull div#nyroModalWrapper div#nyroModalContent a.nyroModalPrev {
	left: 0;
}
div#nyroModalFull div#nyroModalWrapper div#nyroModalContent a.nyroModalPrev:hover {
	background-image: url(../img/nyro/prev.gif);
}
div#nyroModalFull div#nyroModalWrapper div#nyroModalContent a.nyroModalNext {
	right: 0;
	background-position: right 20%;
}
div#nyroModalFull div#nyroModalWrapper div#nyroModalContent a.nyroModalNext:hover {
	background-image: url(../img/nyro/next.gif);
}

/* Tabs
---------------------------------------------------------------------*/

/* position:relative prevents IE scroll bug (element with position:relative inside container with overflow:auto appear as "fixed") */
.ui-tabs {
	position:relative;
	padding:.2em 0;
	margin: 1em 0 0;
}
.ui-tabs .ui-tabs-nav {
	margin:0;
	padding:0;
}
.ui-tabs .ui-tabs-nav li {
	list-style:none;
	/*float:left;*/ 
	display:inline;
	position:relative;
	top:1px;
	margin:0;
	border-bottom:0 !important;
	padding:0;
	white-space:nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	/*float:left;*/ 
	padding:5px 12px 6px 12px;
	text-decoration:none;
	background:#fff;
	color:#666 !important;
	border-bottom:0 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom:0;
	padding-top:1px;
	top:2px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	border:1px solid #E6E6E6;
	font-weight: bold;
	color: #000 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-hover a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	text-decoration:none;
	background:#fff !important;
	padding-top:6px;
}
/* first selector in group seems obsolete,but required to overcome bug in Opera applying cursor:text overall if defined elsewhere... */
.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display:block;
	border:0;
	padding:3px 0;
	background:none;
	clear:both;
	margin-top:5px;
	border-top:1px solid #E6E6E6;
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}

/* Notices
---------------------------------------------------------------------*/

.notice-wrap {
	position: fixed;
	bottom: 10px;
	right: 20px;
	width: 250px;
	z-index: 9999;
}

* html .notice-wrap {
	position: absolute;		
}
 
.notice-item {
	height: 60px;
	background: #636363;
	border-radius: 6px;
	color: #eee;
	padding: 6px 6px 0 6px;
	font-size: 11px;
	border: 3px solid #2E2E2E;
	display: block;
	position: relative;
	margin: 0 0 12px 0;
}

.notice-item-close {
	position: absolute;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	right: 6px;
	top: 6px;
	cursor: pointer;
}

/* Carousel
---------------------------------------------------------------------*/

.carousel {
	width:300px;
	height:428px;
	position:relative;
	background: #fff;
	overflow: hidden;
}
.carousel ul {
	overflow:hidden;
	margin:0;
	padding:0;
	position:relative;
	width:300px !important;
}
.carousel li {
	width:300px;
	height:428px;
	list-style:none;
	color:white;
	text-align:center;
	margin:0;

	position: relative;
}
.carousel img {
	border:0;
	margin:0;
	border:0;
}
.carousel a {
	outline:0;
}
.carousel h4 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	font-weight: bold;
	letter-spacing: -1px;
	width: 284px;
	display: block;
	clear: both;
	margin: 8px;
	font-size: 18px;
}
.carousel h4 a {
	background: #000;
	opacity: .7;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	line-height: 1.1em;
	display: block;
	border-radius: 10px;
}
.carousel a:hover { 
	color: #fff;
	background: #75CA4B;
	text-decoration: none;
	opacity: 1;
}
.carousel a.previous{
	position:absolute;
	top:200px;
	left:8px;
	display:block;
	height:28px;
	width:50px;
	background: url(../img/carousel-arrow-lt.png) no-repeat -85px 40%;
	color:white;
	z-index: 100; 
	padding: 0; 
	overflow: hidden;
	text-indent:-10000px;
}
.carousel a.previous:hover {
	background-position: 0 40%;
}
.carousel a.next{
	position:absolute;
	top:200px;
	right: 0;
	display:block;
	height:28px;
	width:50px;
	background: url(../img/carousel-arrow-rt.png) no-repeat -16px 40%;
	color:white; 
	z-index: 100; 
	padding: 0; 
	overflow: hidden;
	text-indent:-10000px;
}
.carousel a.next:hover {
	background-position: -101px 40%;
}
.disabled {
	visibility:hidden;
}

/* FAQ
---------------------------------------------------------------------*/

.question {
	border-bottom:1px solid #eee;
	padding-bottom: 8px;
}

.question > a {
	text-decoration: none;
	color: #62BA37;
	font-weight: bold;
}
.question q {
	display: none;
}
#leftcolumn { direction:ltr;
float: left;
}
.searchpanel { direction:ltr;}
.td_h{ vertical-align:middle;}
.ttc {height: 250px;}