#ul_notifications {
	/*
	list-style:none;
	width:940px;
	margin:30px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;
	*/
	/* Rounded Corners */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Background color and gradients */
	
	
	/* Borders */
	
	/*
	border: 1px solid #002232;
	*/
	
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;

}

#ul_notifications li {
	float: left;
	
	direction: ltr;
	display:block;
	text-align:center;
	position:relative;
	
	border: 1px solid #777777;
	
	
	
	margin-right:30px;
	margin-top: -11px;
	
	
	border:none;
	
}

#ul_notifications li:hover {
	border: 1px solid #777777;
	
	padding: -4px 9px -4px -22px;
	
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #ebdbba, #ebdbba);
	background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#ebdbba), to(#ebdbba));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}


#ul_notifications li .cls_dv_notifications {
overflow-y:scroll;
    overflow-x:hidden;
	height:auto;;
    white-space:nowrap; !important;
    width:350px;
}

#ul_notifications li .cls_dv_notifications .cls_notification_message_dv {
	height: 60px;
	text-align:center;
	border-bottom: 1px solid #999977;
}
#ul_notifications li .cls_dv_notifications .cls_notification_message_readed_dv {
	height: 60px;
	text-align:center;
	border-bottom: 1px solid #999977;
	background:#FFFFFF;
}
#ul_notifications li .cls_dv_notifications .cls_notification_message_important_dv {
	height: 60px;
	text-align:center;
	border-bottom: 1px solid #999977;
	background:#ff9966;
}
#ul_notifications li .cls_dv_notifications .cls_notification_top_dv {
	height: 30px;
	text-align:center;
	border-top: 1px solid #999977;
	border-bottom: 1px solid #999977;
	
	font-size:16px;
	
	-moz-border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;
	border-radius: 0px 0px 0px 5px;
}
#ul_notifications li .cls_dv_notifications .cls_notification_viewall_dv {
	height: 30px;
	text-align:center;
}
#ul_notifications li .cls_dv_notifications .cls_notification_viewall_dv a{

	font-size:16px;
	font-weight: bold;
}

#ul_notifications li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #ebdbba;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}

#ul_notifications li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
#ul_notifications li .drop {
	padding-left:21px;
	
}
#ul_notifications li:hover .drop {
	
}

.dropdown_1column, 
.cls_dv_notifications, 
.cls_dv_messages,
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	
	float:right;
	position:absolute;
	
	/* By Gouda
	left:-999em; /* Hides the drop down */
	top:-500em; /* Hides the drop down */
	right:50em;
	
	text-align:right;
	border:1px solid #777777;
	border-top:none;
	
	
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #ebdbba, #BBBBBB);
	background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#ebdbba), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.cls_dv_notifications {width: 320px;}
.cls_dv_messages {width: 320px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#ul_notifications li:hover .dropdown_1column, 
#ul_notifications li:hover .cls_dv_notifications, 
#ul_messages li:hover .cls_dv_messages,
#ul_notifications li:hover .dropdown_3columns,
#ul_notifications li:hover .dropdown_4columns,
#ul_notifications li:hover .dropdown_5columns {
	right:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: right;
	position: relative;
	margin-right: 5px;
	margin-left: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#ul_notifications .ul_notifications_right {
	float:left;
	margin-left:0px;
}
#ul_notifications li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 5px 5px 0px;
    -webkit-border-radius: 5px 5px 5px 0px;
    border-radius: 5px 5px 5px 0px;
}

#ul_notifications li:hover .align_right {
	right:auto;
	left:-1px;
	top:auto;
}

#ul_notifications p, #ul_notifications h2, #ul_notifications h3, #ul_notifications ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:right;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#ul_notifications h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#ul_notifications h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#ul_notifications p {
	line-height:18px;
	margin:0 0 10px 0;
}

#ul_notifications li:hover div a {
	font-size:12px;
	color:#015b86;
}
#ul_notifications li:hover div a:hover {
	color:#029feb;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:right;
	margin:5px 5px 5px 15px;
}

#ul_notifications li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#ul_notifications li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#ul_notifications li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:right;
	width:130px;
}
#ul_notifications li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#ul_notifications li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#ul_notifications li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}


		
		
		
		
		
		
		
		
		
		
		

#ul_messages {
	/*
	list-style:none;
	width:940px;
	margin:30px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;
	*/
	/* Rounded Corners */
	
	margin:0px 150px 0px 0px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Background color and gradients */
	
	
	/* Borders */
	
	/*
	border: 1px solid #002232;
	*/
	
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;

}

#ul_messages li {
	direction: ltr;
	/* float: right; */
	display:block; 
	text-align:center;
	position:relative;
	
	border: 1px solid #777777;
	
	padding: 4px 10px 4px 10px;
	
	margin-right: -103px;
	margin-top: -15px;
	
	border:none;
	
	
	margin-left: 50px;
}

#ul_messages li:hover {
	border: 1px solid #777777;
	
	padding: 4px 9px 4px 9px;
	
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #ebdbba, #ebdbba);
	background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#ebdbba), to(#ebdbba));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}


#ul_messages li .cls_dv_messages {
overflow-y:scroll;
    overflow-x:hidden;
	height:auto;
    white-space:nowrap; !important;
    width:350px;
}

#ul_messages li .cls_dv_messages .cls_message_message_dv {
	height: 60px;
	text-align:center;
	border-bottom: 1px solid #999977;
}
#ul_messages li .cls_dv_messages .cls_message_message_readed_dv {
	height: 60px;
	text-align:center;
	border-bottom: 1px solid #999977;
	background:#FFFFFF;
}
#ul_messages li .cls_dv_messages .cls_message_message_important_dv {
	height: 60px;
	text-align:center;
	border-bottom: 1px solid #999977;
	background:#ff9966;
}
#ul_messages li .cls_dv_messages .cls_message_top_dv {
	height: 60px;
	text-align:center;
	border-top: 1px solid #999977;
	border-bottom: 1px solid #999977;
	
	font-size:16px;
	
	-moz-border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;
	border-radius: 0px 0px 0px 5px;
}
#ul_messages li .cls_dv_messages .cls_message_viewall_dv {
	height: 30px;
	text-align:center;
}
#ul_messages li .cls_dv_messages .cls_message_viewall_dv a{

	font-size:16px;
	font-weight: bold;
}

#ul_messages li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #ebdbba;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}

#ul_messages li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
#ul_messages li .drop {
	padding-left:21px;
	
}
#ul_messages li:hover .drop {
	
}


#ul_messages .ul_messages_right {
	float:left;
	margin-left:0px;
}
#ul_messages li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 5px 5px 0px;
    -webkit-border-radius: 5px 5px 5px 0px;
    border-radius: 5px 5px 5px 0px;
}

#ul_messages li:hover .align_right {
	right:auto;
	left:-1px;
	top:auto;
}

#ul_messages p, #ul_messages h2, #ul_messages h3, #ul_messages ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:right;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#ul_messages h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#ul_messages h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#ul_messages p {
	line-height:18px;
	margin:0 0 10px 0;
}

#ul_messages li:hover div a {
	font-size:12px;
	color:#015b86;
}
#ul_messages li:hover div a:hover {
	color:#029feb;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:right;
	margin:5px 5px 5px 15px;
}

#ul_messages li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#ul_messages li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#ul_messages li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:right;
	width:130px;
}
#ul_messages li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#ul_messages li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#ul_messages li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

		
		