<span style='color: #000'>285 frames</span>	<span style='color: #900'>12,544 KB</span>	<span style='color: #090'>11,190.64 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />