                    <table class="ftr" width="100%" cellpadding="0" cellspacing="0" border="1">
                        <tr bgcolor="#f2f2f2">
                            <td align="center" width="205px">
                                <b>التليفون</b>
                            </td>
                            <td align="center" width="205px">
                                <b>الفاكس</b>
                            </td>
                            <td align="center" width="200px">
                                <b>الإيميل</b>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <b>+966125492222  </b>
                            </td>
                            <td align="center">
                                <b>+966125494636  </b>
                            </td>
                            <td align="center">
                                <b>intl224@hotmail.com </b>
                            </td>
                        </tr>
                    </table>