#rbnavbar {
    width: 100%;
    color: #FFF;
    margin: 0px;
    padding: 0;
    position: relative;
    border-top:0px solid #7f7777;
    height:38px;
}

#rbnav {
    margin: 1px 0 0 0;
    padding: 0;
}
#rbnav ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#rbnav li {


    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #DECAA4 0%, #B5A27C 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #DECAA4 0%, #B5A27C 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #DECAA4 0%, #B5A27C 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DECAA4), color-stop(1, #B5A27C));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #DECAA4 0%, #B5A27C 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #DECAA4 0%, #B5A27C 100%);
    list-style: none;
    margin: 0;
    padding: 0;
    border-left:1px solid #967e51;
    border-right:1px solid #967e51;
    height:38px;
}
#rbnav li a, #rbnav li a:link, #rbnav li a:visited {
    color: #FFF;
    display: block;
    font:bold 12px Helvetica, sans-serif;    margin: 0;
    padding: 9px 12px 10px 12px;
    text-decoration: none;

}
#rbnav li a:hover, #rbnav li a:active {
    color: #FFF;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 9px 12px 10px 12px;



}
#rbnav li {
    float: left;
    padding: 0;
}

#rbnav li a {
    height:18px;
}

#rbnav li ul {
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 160px;
    margin: 0;
    padding: 0;
}
#rbnav li ul li {
    height:35px;
}

#rbnav li ul a {
    width: 140px;
}
#rbnav li ul ul {
    margin: -25px 0 0 161px;
}
#rbnav li:hover ul ul, #rbnav li:hover ul ul ul, #rbnav li.sfhover ul ul, #rbnav li.sfhover ul ul ul {
    left: -999em;
}
#rbnav li:hover ul, #rbnav li li:hover ul, #rbnav li li li:hover ul, #rbnav li.sfhover ul, #rbnav li li.sfhover ul, #rbnav li li li.sfhover ul {
    left: 0;
}
#rbnav li:hover, #rbnav li.sfhover {
    position: static;
}
#rbnav li li a, #rbnav li li a:link, #rbnav li li a:visited {
    background: #796739;
    width: 120px;
    color: #FFF;
    display: block;
    font:normal 12px Helvetica, sans-serif;
    margin: 0;
    padding: 9px 12px 10px 12px;
    text-decoration: none;
    z-index:9999;

}
#rbnav li li a:hover, #rbnavli li a:active {
    background: #887550;
    color: #FFF;
    display: block;     margin: 0;
    padding: 9px 12px 10px 12px;
    text-decoration: none;
}