.input-small-mini { 
    width:10% !important;
    dispaly:inline-block !important;
    float:left;
}
.MY_alert{
    margin-bottom:10px;
    cursor: pointer;
    border: 3px solid white;
    -moz-box-shadow: 1px 2px 2px #CCC;
    -webkit-box-shadow: 1px 2px 2px #CCC;
    box-shadow: 1px 2px 2px #CCC;
    padding:8px 35px 8px 14px
}

