
@import "bootstrap/bootstrap.min.css";
@import "bootstrap/bootstrap-responsive.min.css";
@import "bootstrap/bootstrap-fileupload.css";
@import "jquery/jquery-ui-1.9.1.custom.min.css";
@import "epiechart/jquery.easy-pie-chart.css";
@import "fullcalendar/fullcalendar.css";
@import "pnotify/jquery.pnotify.default.css";
@import "fancybox/jquery.fancybox.css";
@import "uniform/uniform.css";
@import "select/select.css";
@import "tagsinput/jquery.tagsinput.css";
@import "multiselect/multiselect.css";
@import "jbreadcrumb/BreadCrumb.css";
@import "validation/validationEngine.jquery.css";
@import "stepywizard/jquery.stepy.css";
@import "mcustomscrollbar/mCustomScrollbar.css";
@import "media/mediaelementplayer.min.css";
@import "cleditor/cleditor.css";
@import "shbrush/shCoreDefault.css";
@import "shbrush/shThemeDefault.css";
@import "filetree/jqueryFileTree.css";
@import "../js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css";
@import "slidernav/slidernav.css";
@import "isotope/isotope.css";
@import "jnotes/jnotes.css";
@import "jcrop/jquery.Jcrop.css";
@import "ibutton/jquery.ibutton.css";
@import "icons.css";

@import "styling.css";
@import "stylesheet.css";
@import "mystyles.css";

/*@import "stylesheet-ar.css";*/
/*
@import "../css-js/ads/180x150-ar.css";
*/
@font-face {
    font-family: "ge-ss";
    src: url(../fonts/ge-ss-med.woff) format('woff');
}
.city_color {
    color: #800096;
}
.mygooglemap {
    width:840px;
    height:400px;
}
html { height: 100%; }
body {
font-family: 'Helvetica Neue','Helvetica',Arial,sans-serif;
font-size: 11px; position: relative;

}


/*~Smartphones (portrait and landscape)~*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {    
    .block, .block-fluid{ overflow: hidden; overflow-x: scroll; }
    .errorContainer{width: 319px; margin-top: 50px;}
        .errorContainer h1{font-size: 110px;}
        .errorContainer h2{font-size: 16px;}
        
    /* timeline */
    .timeline{background-position: 10px 10px;}
    .timeline .event{padding-left: 50px;}
    .timeline .event .icon{left: 2px;}
    .timeline .event .date{display: none;}    
    .timeline .event .body .text.video{width: 140px !important; height: 80px !important;}
    .timeline .event .body .text.map{width: 140px !important; height: 100px !important;}                
    /* eof timeline */
    
    .popup{position: static;}
    .popup.active .body{right: 10px; top: 45px;}
        .popup.active .body .arrow{display: none;}
        
    .toolbar-fluid .information .item .rates .title{font-size: 14px;}            
}

/*~Smartphones (landscape)~*/
@media only screen and (min-width : 321px) {
    
}

/*~Smartphones (portrait)~*/
@media only screen and (max-width : 320px) {
    .errorContainer{width: 319px; margin-top: 50px;}
        .errorContainer h1{font-size: 110px;}
        .errorContainer h2{font-size: 16px;}    
    
    /* timeline */
    .timeline{background-position: 10px 10px;}
    .timeline .event{padding-left: 50px;}
    .timeline .event .icon{left: 2px;}
    .timeline .event .date{display: none;}    
    .timeline .event .body .text.video{width: 140px !important; height: 80px !important;}
    .timeline .event .body .text.map{width: 140px !important; height: 100px !important;}                
    /* eof timeline */
    
    .popup{position: static;}
    .popup.active .body{right: 10px; top: 45px;}
        .popup.active .body .arrow{display: none;}
        
    .toolbar-fluid .information .item .rates .title{font-size: 14px;}
}

/*~Bootstrap fix~*/
@media only screen and (max-width: 767px) {
    body{padding: 0px;}
    .block, .block-fluid{ overflow: hidden; overflow-x: auto; }
    .video{padding-top: 0;}    
        .errorContainer{width: 319px; margin-top: 50px;}
        .errorContainer h1{font-size: 110px;}
        .errorContainer h2{font-size: 16px;}    
     
    /* timeline */
    .timeline .event .body .text.video{width: 200px; height: 113px;}
    .timeline .event .body .text.map{width: 200px; height: 150px;}            
    /* eof timeline */
    .toolbar .right{float: left; clear: both; margin-top: 5px; text-align: left !important; width: 100%;}
    .toolbar .left{width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* timeline */
    .timeline .event .body .text.video{width: 300px; height: 169px;}
    .timeline .event .body .text.map{width: 300px; height: 200px;}    
    /* eof timeline */
}
/*~iPads (portrait and landscape)~*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}

/*~ ~*/
@media only screen and (max-width : 1025px) {
    .fc-header-right{display: none;}
    .footer .left{display: none;}
}

/*~Desktops and laptops~*/
@media only screen and (min-width : 1025px) {
    /* timeline */
    .timeline .event .body .text.video{width: 400px; height: 225px;}
    .timeline .event .body .text.map{width: 400px; height: 300px;}
    /* eof timeline */
}


.ads{
	width:128px;
	top:48px;
	right:0px;
	left:auto;
	position:fixed;
}

.ad{
	width:120px;
	height:240px;
	float:right;
	margin-bottom:10px;
	border:4px #FFFFFF solid;
}
/*
.active{
    background: red;
    
}

.required{
    color:red;
}
*/

input{
	font-family:Tahoma, Geneva, sans-serif;
        height: 30px;
}