html { direction:rtl !important; }

body { font-family: Tahoma, Geneva, sans-serif !important; }


button{
	font-family:Tahoma, Geneva, sans-serif;
}

h2, h3{
	font-family:Tahoma, Geneva, sans-serif !important;
}

.header .logo{float: right !important;}

.navigation{left:auto !important; right: 0px !important; border-right: none !important; border-left: 1px solid #f7f8fa !important;}

.navigation .submain{left: auto !important; right:70px !important;  border-right: none !important; border-left:10px solid #f7f8fa !important;
background: url('../img/backgrounds/bg_subnav.jpg') right top repeat #F5F5F5 !important;

-moz-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.1) !important;
-webkit-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.1) !important;
box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.1) !important;
}

.navigation .control{background: url('../img/subnav_button_right-ar.png') right center no-repeat !important; left: auto !important; right: 80px !important;}

.navigation .control.active{background: url('../img/subnav_button_left-ar.png') right top no-repeat !important; left:auto !important; right: 299px !important;}

.navigation ul.main li a{ padding-right:0 !important; padding-left: 2px !important;}

.navigation ul.main li a:hover, .navigation ul.main li a.active{background: url('../img/backgrounds/mainNav_active-ar.png') left center no-repeat #735f39 !important; padding-left: 0px !important; border-right:0 !important; border-left: 3px solid #ffefce;}

.content{margin-left: 128px !important; margin-right: 80px !important;} 
.smf .content{ margin-left: auto; margin-right: 300px !important; }
.smw .content{ margin-left: auto; margin-right: 0px !important; }

.row-fluid [class*="span"]{float:right !important; margin-left: auto !important;*margin-left: auto !important; margin-right:2.127659574468085% !important;*margin-right:2.074468085106383% !important;}
.row-fluid [class*="span"]:first-child{margin-left: auto !important; margin-right:0 !important;}
.row-fluid .controls-row [class*="span"]+[class*="span"]{margin-left: auto !important; margin-right:2.127659574468085% !important;}

.widget .head{
padding-left:0 !important; padding-right: 5px !important; direction:rtl !important;
}
        
.widget .head .icon{
float: right !important;
margin: 1px 5px 0px 0px !important;
}

.widget .head h2{ margin: 0px 5px 0px 0px !important; 
}

.widget .head ul.buttons > li{
	float: right !important;
	border-left: none !important; border-right: 1px solid #DDD;
	}

.widget .head ul.buttons > li > a{
-moz-box-shadow: inset -1px 0px 0px #FFF !important; 
-webkit-box-shadow: inset -1px 0px 0px #FFF !important; 
box-shadow: inset -1px 0px 0px #FFF !important;
}
	
.widget .head.dark ul.buttons > li > a{
-moz-box-shadow: inset -1px 0px 0px #968158 !important;
-webkit-box-shadow: inset -1px 0px 0px #968158 !important;
box-shadow: inset -1px 0px 0px #968158 !important;
}

.widget .head ul.buttons > li > a:active,
.widget .head ul.buttons > li.loader{padding: 6px 10px 5px;}
                        
.widget .head ul.buttons > li.active > .dropdown-menu{
	left: -1px !important; right:auto !important;
 }

.buttons{
float: left !important;

}

.buttons > div{float: right !important; margin-right: auto !important; margin-left: 2px !important;}

.toolbar .left{
float: right !important;
}

.toolbar .right{
float: left !important;
}

.TAR{text-align: left !important;}

.btn{
margin-bottom:0;*margin-left: auto !important; margin-bottom:0;*margin-right:.3em !important;
}

.btn-group>.dropdown-toggle{-webkit-border-radius:4px !important;-moz-border-radius:4px !important;border-radius:4px !important;}

.btn-group>.btn:first-child{margin-left: auto ; margin-right:0 ;
-webkit-border-bottom-left-radius:0 ; -webkit-border-bottom-right-radius:4px ;
border-bottom-left-radius:0 ; border-bottom-right-radius:4px ;
-webkit-border-top-left-radius:0 ; -webkit-border-top-right-radius:4px ;
border-top-left-radius:0 ; border-top-right-radius:4px ;
-moz-border-radius-bottomleft:0 ; -moz-border-radius-bottomright:4px ;
-moz-border-radius-topleft:0 ; -moz-border-radius-topright:4px ;
}

.btn-group>.btn:last-child,.btn-group>.dropdown-toggle{
-webkit-border-top-right-radius:0 !important; -webkit-border-top-left-radius:4px !important;
border-top-right-radius:0 !important; border-top-left-radius:4px !important;
-webkit-border-bottom-right-radius:0 !important; -webkit-border-bottom-left-radius:4px !important;
border-bottom-right-radius:0 !important; border-bottom-left-radius:4px !important;
-moz-border-radius-topright:0 !important; -moz-border-radius-topleft:4px !important;
-moz-border-radius-bottomright:0 !important; -moz-border-radius-bottomleft:4px !important;
}

.input-append .add-on:last-child,.input-append .btn:last-child{
-webkit-border-radius:4px 0 0 4px !important;
-moz-border-radius:4px 0 0 4px !important;
border-radius:4px 0 0 4px !important;
}

.input-prepend .add-on:first-child,.input-prepend .btn:first-child{
-webkit-border-radius:0 4px 4px 0 !important;
-moz-border-radius:0 4px 4px 0 !important;
border-radius:0 4px 4px 0 !important;
}
.input-append input,.input-append select,.input-append .uneditable-input{
-webkit-border-radius:0 4px 4px 0 !important;
-moz-border-radius:0 4px 4px 0 !important;
border-radius:0 4px 4px 0 !important;
}

.input-append input+.btn-group .btn,.input-append select+.btn-group .btn,.input-append .uneditable-input+.btn-group .btn{
-webkit-border-radius:4px 0 0 4px !important;
-moz-border-radius:4px 0 0 4px !important;
border-radius:4px 0 0 4px !important;
}

.input-prepend.input-append input+.btn-group .btn,.input-prepend.input-append select+.btn-group .btn,.input-prepend.input-append .uneditable-input+.btn-group .btn{
-webkit-border-radius:4px 0 0 4px !important;
-moz-border-radius:4px 0 0 4px !important;
border-radius:4px 0 0 4px !important;
}

.input-prepend.input-append .add-on:first-child,.input-prepend.input-append .btn:first-child{
margin-right: auto !important; margin-left:-1px !important;
-webkit-border-radius:0 4px 4px 0 !important;
-moz-border-radius:0 4px 4px 0 !important;
border-radius:0 4px 4px 0 !important;
}

.input-prepend.input-append .add-on:last-child,.input-prepend.input-append .btn:last-child{
margin-left: auto !important; margin-right:-1px !important;
-webkit-border-radius:4px 0 0 4px !important;
-moz-border-radius:4px 0 0 4px !important;
border-radius:4px 0 0 4px !important;
}
.input-prepend.input-append .btn-group:first-child{margin-left: auto !important; margin-right:0 !important;}


.input-prepend select,.input-append .uneditable-input,.input-prepend .uneditable-input{
*margin-left:auto !important;
*margin-right:0 !important;
-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px}

.toolbar-fluid .information .item{float: right !important;}

.toolbar-fluid .information .item .rates{border-right:0 !important; border-left: 1px solid #DDD !important;}
.toolbar-fluid .information .item:last-child .rates{border-left: none !important;}

.table th,.table td{text-align:right !important;}

.table-bordered th,.table-bordered td{border-left:0 !important; border-right:1px solid #ddd;}

/* table */  
table thead th.sorting, table thead td.sorting{
background: url('../img/backgrounds/dropdown_arrow-ar.png') left center no-repeat !important;
}
table thead th.sorting_asc, table thead td.sorting_asc{
background: url('../img/backgrounds/dropdown_arrow_up-ar.png') left center no-repeat !important;
}

table thead th.sorting_desc, table thead td.sorting_desc{
background: url('../img/backgrounds/dropdown_arrow_down-ar.png') left center no-repeat !important;
}

table td, table th{
border-right:0 !important; border-left: 1px solid #DDD;
}

.middle .button > a{float: right ;}

.middle .informer .caption{right: auto !important; left: -5px !important;
font-family: Tahoma, Geneva, sans-serif;
}

.progress .bar{float: right !important;}

.tasks .item{
border-left: none !important; border-right: 3px solid #3f506a !important;
}
.tasks .item.new{border-right-color: #468946 !important;}
.tasks .item.done{border-right-color: #b84b48 !important;}

.list li .title{float: right !important; padding: 0px 21px 0px 5px !important;}

.list li .actions{float: left !important;}
.list.tickets li.new{background: url('../img/icons/alerts/sign_warning.png') 99% center no-repeat #FFFFCB !important;}
.list.tickets li.accept{background: url('../img/icons/alerts/sign_info.png') 99% center no-repeat #edf9ff !important;}
.list.tickets li.done{background: url('../img/icons/alerts/sign_tick.png') 99% center no-repeat #f1fcdb !important;}

.messaging .item .image{left: auto !important; right: 0px !important;}
.messaging .item.out .image{left: 0px !important; right: auto !important;}

.messaging .item .text{margin-right: 75px !important; margin-left: 0px !important;}
.messaging .item .date{right: auto !important; left: 5px !important;}
.messaging .item.out .date{right: auto !important; left: 80px !important;}
.messaging .item.out .text{margin-left: 75px !important; margin-right: 0px !important;}

.navigation .submain .userInfo .image{float: right !important;}
.navigation .submain .userInfo .name{float: right !important;}
.navigation .submain .userInfo .menuList{margin: 0px 0 5px 5px !important; float: left !important;}
.navigation .submain .userInfo .menuList li{text-align: right !important;}
.navigation .submain .userInfo .text{float: right !important; padding: 0px 5px 5px;}

.navigation .submain ul.fmenu li .caption{right: auto; left:5px !important;}


.breadCrumb{
        margin-right: 100px !important;
        margin-left: 20px !important;
}
.smf .breadCrumb{margin-left: auto !important; margin-right: 320px !important;}
.smw .breadCrumb{margin-left: auto !important; margin-right: 20px !important;}

.breadCrumb ul li{
	float: right !important;
	margin: 0px 0px 0px 6px !important;
	padding: 0px 0px 0px 10px !important;
	background: url(../img/jbreadcrumb/Chevron-ar.gif) no-repeat !important;
	background-position:right center;
}
.breadCrumb ul li div.chevronOverlay
{
	right:  auto !important;
	left:0 !important;
}
.breadCrumb ul li span
{
	display: block;
	overflow: hidden;
}
.breadCrumb ul li a
{
	float: right !important;
}

.breadCrumb ul li.first a:hover
{
	background-position: 0 -16px;
}
.breadCrumb ul li.last
{
	background: none !important;
	margin-right:  auto !important; margin-left: 0 !important;
	padding-right: inherit !important; padding-left: 0 !important;
}

.chevronOverlay
{
	background: url(../../img/jbreadcrumb/ChevronOverlay-ar.png) no-repeat 100% 0 !important;
}

.nav-tabs>li,.nav-pills>li{float: right !important;}

.btn-group-vertical .btn+.btn{margin-left: auto !important; margin-right:0px !important;}
.btn-group-vertical .btn:first-child{-webkit-border-radius:4px 4px 0 0 !important;-moz-border-radius:4px 4px 0 0 !important;border-radius:4px 4px 0 0 !important;}
.btn-group-vertical .btn:last-child{-webkit-border-radius:0 0 4px 4px !important;-moz-border-radius:0 0 4px 4px !important; border-radius:0 0 4px 4px !important;}
.btn-group-vertical .btn-large:first-child{-webkit-border-radius:6px 6px 0 0 !important; -moz-border-radius:6px 6px 0 0 !important; border-radius:6px 6px 0 0!important;}
.btn-group-vertical .btn-large:last-child{-webkit-border-radius:0 0 6px 6px !important; -moz-border-radius:0 0 6px 6px!important; border-radius:0 0 6px 6px !important;}

.widget .head .items{float: left !important; padding: 6px 5px 5px 10px !important;}

.pagination ul>li>a,.pagination ul>li>span{float: right !important; border-left-width:0;}

.profile .info{float: right !important;}

.profile .info .status{left: auto !important; right:0px !important; padding: 3px 10px 3px 20px !important;
background: url('../img/backgrounds/profile_status-ar.jpg') left top no-repeat #3c4e66 !important;}
.profile .image{float: left !important;}

.profile .stats .item{float: right !important;}

.events .item .info{margin-left: auto !important; margin-right: 80px !important; border-left:0px !important; border-right:1px solid #E5E5E5 !important;}

.events .item .date .caption{right: auto !important; left:0px !important; background: url('../img/backgrounds/event-ar.png') left top no-repeat;}
.events .item .date .caption.red{background-image: url('../img/backgrounds/event_red-ar.png');}
.events .item .date .caption.green{background-image: url('../img/backgrounds/event_green-ar.png');}
.events .item .date .caption.orange{background-image: url('../img/backgrounds/event_orange-ar.png');}

.events .item .date .caption span{float: left !important; margin-right: auto !important; margin-left: 1px !important;}

.userCard .image{float: right !important; margin-right: auto !important; margin-left: 10px !important;}
.userCard .info .informer{float: left !important;}

.messages .item .image{left: auto !important; right: 5px !important;}
.messages .item .actions{left: auto !important; right: 5px !important;}
.messages .item .text{padding-left: 5px !important; padding-right: 75px !important;}
.messages .item .date{right: auto !important; left: 5px !important;}
.messages .item .rating{right: auto !important; left: 5px !important;}

.popup .body{right: auto !important; left: 0px !important;}

.popup .body .arrow{right: auto !important; left: 9px !important; border-left: 5px solid transparent; border-right: 5px solid transparent;}

.dropdown .body{right: auto !important; left: -1px !important;}

.TAL{text-align: right !important;} .TAR{text-align: left !important;}

.select2-offscreen {left: auto !important; right: -10000px !important; }

.stepy-titles li { float: right !important;}



.offset12{margin-left: auto !important; margin-right:980px !important;}
.offset11{margin-left: auto !important; margin-right:900px!important;}
.offset10{margin-left: auto !important; margin-right:820px!important;}
.offset9{margin-left: auto !important; margin-right:740px!important;}
.offset8{margin-left: auto !important; margin-right:660px!important;}
.offset7{margin-left: auto !important; margin-right:580px!important;}
.offset6{margin-left: auto !important; margin-right:500px!important;}
.offset5{margin-left: auto !important; margin-right:420px!important;}
.offset4{margin-left: auto !important; margin-right:340px!important;}
.offset3{margin-left: auto !important; margin-right:260px!important;}
.offset2{margin-left: auto !important; margin-right:180px!important;}
.offset1{margin-left: auto !important; margin-right:100px!important;}


.row-fluid .offset12{margin-left: auto !important;*margin-left: auto !important; margin-right:104.25531914893617% !important;*margin-right:104.14893617021275% !important;}
.row-fluid .offset12:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:102.12765957446808% !important;*margin-right:102.02127659574467% !important;}
.row-fluid .offset11{margin-left: auto !important;*margin-left: auto !important; margin-right:95.74468085106382% !important;*margin-right:95.6382978723404% !important}
.row-fluid .offset11:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:93.61702127659574% !important;*margin-right:93.51063829787232% !important}
.row-fluid .offset10{margin-left: auto !important;*margin-left: auto !important; margin-right:87.23404255319149% !important;*margin-right:87.12765957446807% !important}
.row-fluid .offset10:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:85.1063829787234% !important;*margin-right:84.99999999999999% !important}
.row-fluid .offset9{margin-left: auto !important;*margin-left: auto !important; margin-right:78.72340425531914% !important;*margin-right:78.61702127659572% !important}
.row-fluid .offset9:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:76.59574468085106% !important;*margin-right:76.48936170212764% !important}
.row-fluid .offset8{margin-left: auto !important;*margin-left: auto !important; margin-right:70.2127659574468% !important;*margin-right:70.10638297872339% !important}
.row-fluid .offset8:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:68.08510638297872% !important;*margin-right:67.9787234042553% !important}
.row-fluid .offset7{margin-left: auto !important;*margin-left: auto !important; margin-right:61.70212765957446% !important;*margin-right:61.59574468085106% !important}
.row-fluid .offset7:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:59.574468085106375% !important;*margin-right:59.46808510638297% !important}
.row-fluid .offset6{margin-left: auto !important;*margin-left: auto !important; margin-right:53.191489361702125% !important;*margin-right:53.085106382978715% !important}
.row-fluid .offset6:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:51.063829787234035% !important;*margin-right:50.95744680851063% !important}
.row-fluid .offset5{margin-left: auto !important;*margin-left: auto !important; margin-right:44.68085106382979% !important;*margin-right:44.57446808510638% !important}
.row-fluid .offset5:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:42.5531914893617% !important;*margin-right:42.4468085106383% !important}
.row-fluid .offset4{margin-left: auto !important;*margin-left: auto !important; margin-right:36.170212765957444% !important;*margin-right:36.06382978723405% !important}
.row-fluid .offset4:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:34.04255319148936% !important;*margin-right:33.93617021276596% !important}
.row-fluid .offset3{margin-left: auto !important;*margin-left: auto !important; margin-right:27.659574468085104% !important;*margin-right:27.5531914893617% !important}
.row-fluid .offset3:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:25.53191489361702% !important;*margin-right:25.425531914893618% !important}
.row-fluid .offset2{margin-left: auto !important;*margin-left: auto !important; margin-right:19.148936170212764% !important;*margin-right:19.04255319148936% !important}
.row-fluid .offset2:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:17.02127659574468% !important;*margin-right:16.914893617021278% !important}
.row-fluid .offset1{margin-left: auto !important;*margin-left: auto !important; margin-right:10.638297872340425% !important;*margin-right:10.53191489361702% !important}
.row-fluid .offset1:first-child{margin-left: auto !important;*margin-left: auto !important; margin-right:8.51063829787234% !important;*margin-right:8.404255319148938% !important}

.sGallery .item{float: right !important;}
.gGallery {float: right !important;}

.sGallery .item ul.controls li{float: right !important;}
.sGallery .item ul.controls li a{float: right !important; text-align: right !important;}
.sGallery .item ul.controls li [class^=icon]{float: right !important; margin-right: auto !important; margin-left: 5px !important;}

.timeline{background: url('../img/backgrounds/timeline-ar.png') repeat-y transparent right 10px !important;}
.timeline .event{padding-left: 0 !important; padding-right: 100px !important; float: right !important;}

.timeline .event .body .arrow{left: auto !important; right: -13px !important; background: url('../img/backgrounds/white_arrow_left-ar.png') right top no-repeat !important;}

.timeline .event .icon{background: url('../img/backgrounds/timeline_dots.png') right top no-repeat !important; 
left: auto !important; right: 52px !important; padding: 8px 1px 0px 0px !important;}

.timeline .event .date{left: auto !important; right: 0px !important;}

.mailbox tbody tr{border-left: 0px !important; border-right: 2px solid #AAA !important;}
.mailbox tbody tr.new{border-left: 0px !important; border-right: 2px solid #54a1e5 !important;}

.Gallery .view{float: right !important;}

.slider-content { float: right !important; }
.slider-content ul { float: right !important; }
.slider-content ul li { float: right !important; }

.slidernav .slider-nav {right: auto !important; left: 0 !important;}

.users .item .caption{right: auto !important; left: 10px !important;}
.users .item img{ margin-right: auto !important; margin-left: 10px !important;}

.faq .item .title{ padding-left: 0px !important; padding-right: 22px !important; background: url('../img/backgrounds/faq_dot.png') right center no-repeat;}

.button-back { float: right !important; }
.button-next, .finish { float: left !important; }

.ads{
	width:128px !important;
	top:48px !important;
	left:0px !important;
	right:auto !important;
	position:fixed !important;
}

.ad{
	width:120px !important;
	height:240px !important;
	float:left !important;
	margin-bottom:10px !important;
	border:4px #FFFFFF solid !important;
}



select:focus{
border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
}

.tabs ul li{
	float:right !important;
}


.username-box{
		float:left !important;
	}