@charset "utf-8";
/* CSS Document */


@font-face {font-family:"GE-SS-med";src:
url("../fonts/ge-ss-med.woff") format("woff");
font-weight:100;
}



@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../fonts/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../fonts/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url(../fonts/jIXlqT1WKafUSwj6s9AzV6XnXbwdDC8wAz6IIzmCDUP3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}


body{
	font-family:GE-SS-med;
	font-size:12px;
}

a{
	outline:none;
}

.sideviewtoggle{
	position: absolute;
	top:0px;
	right:-34px;
}

.header{
	width:100%;
	height:40px;
	position:absolute;
	top:0;
	float:left;
	
	background:#e5e5e5;
	
-moz-box-shadow: 3px 3px 4px #e1dbc7;
-webkit-box-shadow: 3px 3px 4px #e1dbc7;
box-shadow: 3px 3px 4px #e1dbc7;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7');
border-bottom:2px solid #fff;
z-index:99;
}

.content{
	position: relative;
	top:32px;
	right:0;
	left:0;
	padding:30px 20px 0 40px;
	margin-right:128px;
	
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	
}

.logo{
	border:0;
	margin:7px 0 0 60px;
}

.widget{
	width:100%;
	background:#efefef;
	margin-bottom:10px;
	margin-right:10px;
	float:right;
	
	-moz-box-shadow: 3px 3px 4px #e1dbc7;
-webkit-box-shadow: 3px 3px 4px #e1dbc7;
box-shadow: 3px 3px 4px #e1dbc7;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7');

border:2px solid #fff;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.inner-widget{
	width:100%;
	background:#efefef;
	float:right;
	margin-bottom:20px;
	
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7');

border:1px solid #fff;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.search-widget{
	width:95%;
	background:#f0ebdc;
	margin-bottom:10px;
	margin-right:10px;
	float:left;
	
	-moz-box-shadow: 3px 3px 4px #e1dbc7;
-webkit-box-shadow: 3px 3px 4px #e1dbc7;
box-shadow: 3px 3px 4px #e1dbc7;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7');

border:2px solid #fff;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.inner-widget{
	width:100%;
	background:#efefef;
	float:left;
	margin-bottom:20px;
	
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dbc7');

border:1px solid #fff;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.widget-container{
	width:100%;
	float:left;
	padding:10px 10px;
	
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
			
			position:relative;
					
}


.widget-header{
	position:relative;
	height:30px;
	right:0;
	left:0;
	background:#ccc;
	border-bottom:1px solid #ccc;
	
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

/*
-webkit-box-shadow: inset 0 0 4px #e7e7e7;
    -moz-box-shadow: inset 0 0 4px #e7e7e7;
    box-shadow: inset 0 0 4px #e7e7e7;
	*/
	
	background:#F7E4A9;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7E4A9), color-stop(1, #C0AA67));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F7E4A9 0%, #C0AA67 100%);
	
	
}

.header-icons{
	height:16px;
	float:right;
	margin:10px 0 0 10px;
}

.header-icon{
	width:16px;
	height:16px;
	float:right;
}


.span12{
	width:100%;
	float:left;
}

.span10{
	width:83.33333333333333%;
	float:left;
}

.span9{
	width:75%;
	float:right;
}

.span8{
	width:66.66666666666667%;
	float:left;
}

.span7{
	width:58.33333333333334%;
	float:left;
}

.span6{
	width:50%;
	float:left;
}

.span5{
	width:41.66666666666667%;
	float:left;
}

.span4{
	width:33.33333333333333%;
	float:left;
}

.span3{
	width:25%;
	float:left;
}

.span2{
	width:16.66666666666667%;
	float:left;
}

.span1{
	width:8.333333333333333%;
	float:left;
}



.Fleft{
	float:right;
}

.Fright{
	float:left;
}

@media screen and (max-width: 800px){
	[class^="span"]{
		width:100% !important;
	}
	
	[class^="span"] .search-widget{
		width:100% !important;
	}
	
	.row-form > [class^="span"]{
		width:100% !important;
		 clear:both;
	}
	
	.row-form > [class^="span"]  > [class^="span2"]{
		width:33.33333333333333%;
	}
	
	.row-form > [class^="span"]  > [class^="span10"]{
		width:66.66666666666667%;
	}
	
	.ads {
		display:NONE;
	}
	
	.content{
		margin-left:0px;
	}
	
	.row-form > [class^="span"]{
		border-top:1px solid #fff;
		border-bottom:1px solid #ddd;
		border-left:0px;
		border-right:0px;
		}
		
		.row-form > [class^="span"]:first-child{
		border-top:0px;
		border-bottom:1px solid #ddd;
		border-left:0px;
		border-right:0px;
		}
		.row-form > [class^="span"]:last-child{
		border-top:1px solid #fff;
		border-bottom:0px;
		border-left:0px;
		border-right:0px;
		}
		
		.row-form > [class^="span12"],.row-form > [class^="span12"]:first-child,.row-form > [class^="span12"]:last-child{
		border-top:0px;
		border-bottom:0px;
		border-left:0px;
		border-right:0px;
		}
}


@media screen and (max-width: 480px){
	.sideviewtoggle{
		display:none;
	}
	
	.row-form > [class^="span"] > [class^="span"], .row-form > [class^="span"] > [class^="span"] > [class^="span"]{
		width:100% !important;
		 clear:both;
		 text-align:left !important;
	}
	
}

.btn:disabled , .button-group .btn:disabled{
	background:#999 !important;
}

.btn{
	cursor:pointer;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #887126 0%, #473708 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #887126), color-stop(1, #6b5818));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #887126 0%, #6b5818 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #887126 0%, #6b5818 100%);

border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

border-radius: 3px 3px 3px 3px;

color: rgb(255, 255, 255);
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);


border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;

font-family:Tahoma, Geneva, sans-serif;
font-size:12px !important;
text-decoration:none;
cursor:pointer;
}

.button-group .btn{
	cursor:pointer;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #887126 0%, #473708 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #887126), color-stop(1, #6b5818));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #887126 0%, #6b5818 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #887126 0%, #6b5818 100%);

border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

border-radius: 0px 0px 0px 0px;

color: rgb(255, 255, 255);
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);


border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;

font-family:Tahoma, Geneva, sans-serif;
font-size:12px !important;
text-decoration:none;
cursor:pointer;
}

.button-group .btn:first-child{
	cursor:pointer;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #887126 0%, #473708 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #887126), color-stop(1, #6b5818));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #887126 0%, #6b5818 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #887126 0%, #6b5818 100%);

border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

border-radius: 5px 0px 0px 5px;

color: rgb(255, 255, 255);
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);


border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;

font-family:Tahoma, Geneva, sans-serif;
font-size:12px !important;
text-decoration:none;
cursor:pointer;
}

.button-group .btn:last-child{
	cursor:pointer;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #887126 0%, #473708 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #887126), color-stop(1, #6b5818));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #887126 0%, #6b5818 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #887126 0%, #6b5818 100%);

border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

border-radius: 0px 5px 5px 0px;

color: rgb(255, 255, 255);
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);


border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;

font-family:Tahoma, Geneva, sans-serif;
font-size:12px !important;
text-decoration:none;
cursor:pointer;
}

.btn:focus, .button-group .btn:focus{
	   outline: none;
    outline-offset: -2px;
	
	
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #6b5818 0%, #6b5818 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #6b5818 0%, #6b5818 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #6b5818 0%, #6b5818 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6b5818), color-stop(1, #6b5818));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #6b5818 0%, #6b5818 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #6b5818 0%, #6b5818 100%);
}

a.btn{
	padding:7px 5px;
}


input[type=button].btn, input[type=submit].btn,
button.btn{
	padding:6px 5px;
}

.path-container{
	margin:0  0 0 10px;
}

.path-arrow{
	height:30px;
	width:30px;
	background:url(../img/path-arrow-img.png) center no-repeat;
}

.path-name{
	height:30px;
	line-height:30px;
	text-shadow: 0 1px white;
}

.path-name a{
	color: #630;
	text-decoration:none;
}

.path-name a:hover{
	text-decoration:underline;
}

  /* table */  
  table{
	  width:100%;
	  float:left;
  }
  
.highlight{
  background:#f0ebdc !important;
}
  
    table thead th.sorting, table thead td.sorting{background: url('../img/backgrounds/dropdown_arrow.png') right center no-repeat;}
    table thead th.sorting_asc, table thead td.sorting_asc{background: url('../img/backgrounds/dropdown_arrow_up.png') right center no-repeat;}
    table thead th.sorting_desc, table thead td.sorting_desc{background: url('../img/backgrounds/dropdown_arrow_down.png') right center no-repeat;}
    
    table{border: 0px; position: relative; padding: 0px; margin: 0px; border: 1px solid #DDD;}
        table td, table th{border-left: 1px solid #DDD; border-bottom: 1px solid #DDD; -moz-box-shadow: inset 1px 1px 0px #FFF; -webkit-box-shadow: inset 1px 1px 0px #FFF; box-shadow: inset 1px 1px 0px #FFF;
                  text-shadow: 1px 1px 0px #FFF; padding: 8px;}
            table td:last-child{border-left: 0px;}
			table th:last-child{border-left: 0px;}
			table tr:last-child td{border-bottom: 0px;}
        table thead td, table thead th{background: #F1F1F1; color: #333; font-weight: bold;}
        table tbody tr:nth-child(2n+1){background: #FCFCFC;}
        
        .table-hover tbody tr:hover td, table tbody tr.active td{background: #ffffcb;}       
        .table{margin-bottom: 0px;}
        
        
    /* eof table */
    
    /* datatables */

    .dataTables_length, .dataTables_info{float: right;}
    .dataTables_filter, .dataTables_paginate{float: left;}
        
        .dataTables_length{position: relative; padding: 5px;}
            .dataTables_length label{font-size: 11px; margin-bottom: 0px;}
            .dataTables_length select{display: inline-block; width: auto;}
            
        .dataTables_filter{position: relative; padding: 5px;}
            .dataTables_filter label{font-size: 11px; margin-bottom: 0px;}
            
        .dataTables_info{font-size: 11px; color: #333; line-height: 26px; padding: 5px;}
        
        .paginate_button,        
        .paginate_disabled_previous,
        .paginate_disabled_next,
        .paginate_enabled_next,
        .paginate_active,
        .paginate_enabled_previous{float: right; border: 2px solid #FFF; line-height: 14px; font-size: 11px; color: #333; 
                                display: block; padding: 4px 5px; margin: 5px 5px 5px 0px;
                                color: #333; text-shadow: 0px 1px 0px #FFF;
                                background-color: #E0E0E0;                            
                                filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffe9e9e9,EndColorStr=#ffdddddd);
                                background-image: -moz-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                                background-image: -ms-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                                background-image: -o-linear-gradient(top,#E9E9E9 0,#DDDDDD 100%);
                                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#E9E9E9),color-stop(100%, #DDDDDD));
                                background-image: -webkit-linear-gradient(top,#E9E9E9 0, #DDDDDD 100%);
                                background-image: linear-gradient(to bottom,#E9E9E9 0, #DDDDDD 100%);
                                -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
        
        .paginate_enabled_next,
        .paginate_enabled_previous,
        .paginate_active,.paginate_active:hover,
        .paginate_button,.paginate_button:hover,
        .paginate_enabled_next:hover,
        .paginate_enabled_previous:hover{cursor: pointer; text-decoration: none; }        
        .paginate_enabled_next:hover,
        .paginate_active, .paginate_active:hover,
        .paginate_button:hover,
        .paginate_enabled_previous:hover{ color: #333;
                                         -moz-box-shadow: inset 0 1px 3px #AAA; -webkit-box-shadow: inset 0 1px 3px #AAA; box-shadow: inset 0 1px 3px #AAA;}
        
        
        .paginate_button_disabled, .paginate_button_disabled:hover,        
        .paginate_disabled_previous, .paginate_disabled_previous:hover,
        .paginate_disabled_next, .paginate_disabled_next:hover{color: #999; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-decoration: none;}
        .dataTables_wrapper{
			font-family:Tahoma, Geneva, sans-serif;
		}
        .dataTables_wrapper table{float: right;}
        
        
    /* eof datatables */
	
	
	
	
	select, input[type=text]{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
	
	
	input[type=button]{
		height:30px;
	}
	
	
	input, textarea, .uneditable-input {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 9px;
  padding: 4px;
}


 select{
	 border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 9px;
  padding: 4px;
 }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus,
select:focus,
.select2-container:focus{   
border-color: rgba(30, 144, 255, 0.8);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(30, 144, 255, 0.6);
outline: 0 none;
}



/* icons */

table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0}.table{width:100%;margin-bottom:20px}.table th,.table td{padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #ddd}.table th{font-weight:bold}.table thead th{vertical-align:bottom}.table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{border-top:0}.table tbody+tbody{border-top:2px solid #ddd}.table-condensed th,.table-condensed td{padding:4px 5px}.table-bordered{border:1px solid #ddd;border-collapse:separate;*border-collapse:collapse;border-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.table-bordered th,.table-bordered td{border-left:1px solid #ddd}.table-bordered caption+thead tr:first-child th,.table-bordered caption+tbody tr:first-child th,.table-bordered caption+tbody tr:first-child td,.table-bordered colgroup+thead tr:first-child th,.table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+tbody tr:first-child td,.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0}.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child{-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-topleft:4px}.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-topright:4px}.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child,.table-bordered tfoot:last-child tr:last-child td:first-child{-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px}.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child,.table-bordered tfoot:last-child tr:last-child td:last-child{-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px}.table-bordered caption+thead tr:first-child th:first-child,.table-bordered caption+tbody tr:first-child td:first-child,.table-bordered colgroup+thead tr:first-child th:first-child,.table-bordered colgroup+tbody tr:first-child td:first-child{-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-topleft:4px}.table-bordered caption+thead tr:first-child th:last-child,.table-bordered caption+tbody tr:first-child td:last-child,.table-bordered colgroup+thead tr:first-child th:last-child,.table-bordered colgroup+tbody tr:first-child td:last-child{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-topright:4px}.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th{background-color:#f9f9f9}.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{background-color:#f5f5f5}table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"]{display:table-cell;float:none;margin-left:0}.table td.span1,.table th.span1{float:none;width:44px;margin-left:0}.table td.span2,.table th.span2{float:none;width:124px;margin-left:0}.table td.span3,.table th.span3{float:none;width:204px;margin-left:0}.table td.span4,.table th.span4{float:none;width:284px;margin-left:0}.table td.span5,.table th.span5{float:none;width:364px;margin-left:0}.table td.span6,.table th.span6{float:none;width:444px;margin-left:0}.table td.span7,.table th.span7{float:none;width:524px;margin-left:0}.table td.span8,.table th.span8{float:none;width:604px;margin-left:0}.table td.span9,.table th.span9{float:none;width:684px;margin-left:0}.table td.span10,.table th.span10{float:none;width:764px;margin-left:0}.table td.span11,.table th.span11{float:none;width:844px;margin-left:0}.table td.span12,.table th.span12{float:none;width:924px;margin-left:0}.table tbody tr.success td{background-color:#dff0d8}.table tbody tr.error td{background-color:#f2dede}.table tbody tr.warning td{background-color:#fcf8e3}.table tbody tr.info td{background-color:#d9edf7}.table-hover tbody tr.success:hover td{background-color:#d0e9c6}.table-hover tbody tr.error:hover td{background-color:#ebcccc}.table-hover tbody tr.warning:hover td{background-color:#faf2cc}.table-hover tbody tr.info:hover td{background-color:#c4e3f3}[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;margin-top:1px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image: url("../img/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat}.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:url("../img/glyphicons-halflings-white.png")}.icon-glass{background-position:0 0}.icon-music{background-position:-24px 0}.icon-search{background-position:-48px 0}.icon-envelope{background-position:-72px 0}.icon-heart{background-position:-96px 0}.icon-star{background-position:-120px 0}.icon-star-empty{background-position:-144px 0}.icon-user{background-position:-168px 0}.icon-film{background-position:-192px 0}.icon-th-large{background-position:-216px 0}.icon-th{background-position:-240px 0}.icon-th-list{background-position:-264px 0}.icon-ok{background-position:-288px 0}.icon-remove{background-position:-312px 0}.icon-zoom-in{background-position:-336px 0}.icon-zoom-out{background-position:-360px 0}.icon-off{background-position:-384px 0}.icon-signal{background-position:-408px 0}.icon-cog{background-position:-432px 0}.icon-trash{background-position:-456px 0}.icon-home{background-position:0 -24px}.icon-file{background-position:-24px -24px}.icon-time{background-position:-48px -24px}.icon-road{background-position:-72px -24px}.icon-download-alt{background-position:-96px -24px}.icon-download{background-position:-120px -24px}.icon-upload{background-position:-144px -24px}.icon-inbox{background-position:-168px -24px}.icon-play-circle{background-position:-192px -24px}.icon-repeat{background-position:-216px -24px}.icon-refresh{background-position:-240px -24px}.icon-list-alt{background-position:-264px -24px}.icon-lock{background-position:-287px -24px}.icon-flag{background-position:-312px -24px}.icon-headphones{background-position:-336px -24px}.icon-volume-off{background-position:-360px -24px}.icon-volume-down{background-position:-384px -24px}.icon-volume-up{background-position:-408px -24px}.icon-qrcode{background-position:-432px -24px}.icon-barcode{background-position:-456px -24px}.icon-tag{background-position:0 -48px}.icon-tags{background-position:-25px -48px}.icon-book{background-position:-48px -48px}.icon-bookmark{background-position:-72px -48px}.icon-print{background-position:-96px -48px}.icon-camera{background-position:-120px -48px}.icon-font{background-position:-144px -48px}.icon-bold{background-position:-167px -48px}.icon-italic{background-position:-192px -48px}.icon-text-height{background-position:-216px -48px}.icon-text-width{background-position:-240px -48px}.icon-align-left{background-position:-264px -48px}.icon-align-center{background-position:-288px -48px}.icon-align-right{background-position:-312px -48px}.icon-align-justify{background-position:-336px -48px}.icon-list{background-position:-360px -48px}.icon-indent-left{background-position:-384px -48px}.icon-indent-right{background-position:-408px -48px}.icon-facetime-video{background-position:-432px -48px}.icon-picture{background-position:-456px -48px}.icon-pencil{background-position:0 -72px}.icon-map-marker{background-position:-24px -72px}.icon-adjust{background-position:-48px -72px}.icon-tint{background-position:-72px -72px}.icon-edit{background-position:-96px -72px}.icon-share{background-position:-120px -72px}.icon-check{background-position:-144px -72px}.icon-move{background-position:-168px -72px}.icon-step-backward{background-position:-192px -72px}.icon-fast-backward{background-position:-216px -72px}.icon-backward{background-position:-240px -72px}.icon-play{background-position:-264px -72px}.icon-pause{background-position:-288px -72px}.icon-stop{background-position:-312px -72px}.icon-forward{background-position:-336px -72px}.icon-fast-forward{background-position:-360px -72px}.icon-step-forward{background-position:-384px -72px}.icon-eject{background-position:-408px -72px}.icon-chevron-left{background-position:-432px -72px}.icon-chevron-right{background-position:-456px -72px}.icon-plus-sign{background-position:0 -96px}.icon-minus-sign{background-position:-24px -96px}.icon-remove-sign{background-position:-48px -96px}.icon-ok-sign{background-position:-72px -96px}.icon-question-sign{background-position:-96px -96px}.icon-info-sign{background-position:-120px -96px}.icon-screenshot{background-position:-144px -96px}.icon-remove-circle{background-position:-168px -96px}.icon-ok-circle{background-position:-192px -96px}.icon-ban-circle{background-position:-216px -96px}.icon-arrow-left{background-position:-240px -96px}.icon-arrow-right{background-position:-264px -96px}.icon-arrow-up{background-position:-289px -96px}.icon-arrow-down{background-position:-312px -96px}.icon-share-alt{background-position:-336px -96px}.icon-resize-full{background-position:-360px -96px}.icon-resize-small{background-position:-384px -96px}.icon-plus{background-position:-408px -96px}.icon-minus{background-position:-433px -96px}.icon-asterisk{background-position:-456px -96px}.icon-exclamation-sign{background-position:0 -120px}.icon-gift{background-position:-24px -120px}.icon-leaf{background-position:-48px -120px}.icon-fire{background-position:-72px -120px}.icon-eye-open{background-position:-96px -120px}.icon-eye-close{background-position:-120px -120px}.icon-warning-sign{background-position:-144px -120px}.icon-plane{background-position:-168px -120px}.icon-calendar{background-position:-192px -120px}.icon-random{width:16px;background-position:-216px -120px}.icon-comment{background-position:-240px -120px}.icon-magnet{background-position:-264px -120px}.icon-chevron-up{background-position:-288px -120px}.icon-chevron-down{background-position:-313px -119px}.icon-retweet{background-position:-336px -120px}.icon-shopping-cart{background-position:-360px -120px}.icon-folder-close{background-position:-384px -120px}.icon-folder-open{width:16px;background-position:-408px -120px}.icon-resize-vertical{background-position:-432px -119px}.icon-resize-horizontal{background-position:-456px -118px}.icon-hdd{background-position:0 -144px}.icon-bullhorn{background-position:-24px -144px}.icon-bell{background-position:-48px -144px}.icon-certificate{background-position:-72px -144px}.icon-thumbs-up{background-position:-96px -144px}.icon-thumbs-down{background-position:-120px -144px}.icon-hand-right{background-position:-144px -144px}.icon-hand-left{background-position:-168px -144px}.icon-hand-up{background-position:-192px -144px}.icon-hand-down{background-position:-216px -144px}.icon-circle-arrow-right{background-position:-240px -144px}.icon-circle-arrow-left{background-position:-264px -144px}.icon-circle-arrow-up{background-position:-288px -144px}.icon-circle-arrow-down{background-position:-312px -144px}.icon-globe{background-position:-336px -144px}.icon-wrench{background-position:-360px -144px}.icon-tasks{background-position:-384px -144px}.icon-filter{background-position:-408px -144px}.icon-briefcase{background-position:-432px -144px}.icon-fullscreen{background-position:-456px -144px}




.widget-header-icon{
	width:17px;
	height:17px;
	margin:7px;
}


.widget-header-title{
	height:30px;
	line-height:30px;
	text-shadow: 0 1px white;
	color:#663300;
}



.row-form{ width:100%; border: 1px solid #DDD; border-top-color: #FFF; vertical-align: baseline; float:right;

-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
    .row-form:first-child{border-top-color: #DDD;}
        .row-form > [class^="span"]{color: #333; text-shadow: 1px 1px 1px #FFF; line-height: 30px;
		border-left:1px solid #ddd;
		border-right:1px solid #fff;
		padding: 10px 10px;
		
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}
			
			
.row-form > [class^="span"]:first-child{
	border-right:0px;
}

.row-form > [class^="span"]:last-child{
	border-left:0px;
}


.Pleft10{
	padding-right:10px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.TAR{
	text-align:left;
}

.TAC{
	text-align:center;
}

.TAL{
	text-align:right;
}


.row-form input.input-mini, .row-form select.input-mini, .row-form textarea.input-mini{width: 20%;}
        .row-form input.input-small, .row-form select.input-small, .row-form textarea.input-small{width: 30%;}
        .row-form input.input-medium, row-form select.input-medium, .row-form textarea.input-medium{width: 40%;}
        .row-form input.input-large, .row-form select.input-large, .row-form textarea.input-large{width: 50%;}
        .row-form input.input-xlarge, .row-form select.input-xlarge, .row-form textarea.input-xlarge{width: 70%;}
        .row-form input.input-xxlarge, .row-form select.input-xxlarge, .row-form textarea.input-xxlarge{width: 80%;}
        .row-form input.input-huge, .row-form select.input-huge, .row-form textarea.input-huge{width: 90%;}
		.row-form input.input-full{
			height:30px;
		}
		
		.row-form textarea.input-full{
			height:100px;
		}
		.row-form input.input-full, .row-form select.input-full, .row-form textarea.input-full{width: 100%; margin-left:5px; -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}
		
		
		
		
		
.ads {
    width: 128px ;
    top: 62px ;
    right: 0px ;
    left: auto ;
    position: fixed ;
}


.ad {
    width: 120px ;
    height: 240px ;
    float: right ;
    margin-bottom: 10px ;
    border: 4px solid rgb(255, 255, 255) ;
}


.BGgrey{
	background:#e6e7e8;
}




/* select dropdown with search */
/*
Version: 3.2 Timestamp: Mon Sep 10 10:38:04 PDT 2012
*/
.select2-container {
    position: ;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input{
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -moz-box-sizing: border-box;    /* firefox */
  -ms-box-sizing: border-box;     /* ie */
  -webkit-box-sizing: border-box; /* webkit */
  -khtml-box-sizing: border-box;  /* konqueror */
  box-sizing: border-box;         /* css3 */
}

.select2-container .select2-choice {
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 8px;
    color: #444;
    text-decoration: none;
}

.select2-container.select2-drop-above .select2-choice
{
    border-bottom-color: #ccc;
    -webkit-border-radius:0px 0px 3px 3px;
    -moz-border-radius:0px 0px 3px 3px;
    border-radius:0px 0px 3px 3px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 90%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #eeeeee 0%,#ffffff 90%);
}

.select2-container .select2-choice span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.select2-container .select2-choice abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  background: url('../img/select/select2.png') right top no-repeat;
  cursor: pointer;
  text-decoration: none;
  border:0;
  outline: 0;
}
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    z-index: 9999;
    width:100%;
    margin-top:-1px;

  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.select2-drop.select2-drop-above {
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    margin-top:1px;
    border-top: 1px solid #ccc;
    border-bottom: 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-container .select2-choice div {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cccccc', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
    border-left: 1px solid #ccc;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
}

.select2-container .select2-choice div b {
    background: url('../img/select/select2.png') no-repeat 0 1px;
    display: block;
    width: 100%;
    height: 100%;
}

.select2-search {
  display: inline-block;
    white-space: nowrap;
    z-index: 10000;
  min-height: 26px;
  width: 100%;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px;
}

.select2-search input {
    background: #fff url('../img/select/select2.png') no-repeat 100% -22px;
    background: url('../img/select/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../img/select/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../img/select/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../img/select/select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 1em;
    width:100%;
    margin:0;
    height:auto !important;
    min-height: 26px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.select2-drop.select2-drop-above .select2-search input
{
    margin-top:4px;
}

.select2-search input.select2-active {
    background: #fff url('../img/select/spinner.gif') no-repeat 100%;
    background: url('../img/select/spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../img/select/spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select/spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../img/select/spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../img/select/spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../img/select/spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}


.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
    outline: none;
}

.select2-dropdown-open .select2-choice {
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}

.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none;
}
.select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}

/* results */
.select2-results {
  margin: 4px 4px 4px 0;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
}

.select2-results ul.select2-result-sub {
  margin: 0 0 0 0;
}

.select2-results ul.select2-result-sub > li .select2-result-label { padding-right: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
  list-style: none;
  display: list-item;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
.select2-results .select2-highlighted em {
  background: transparent;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}

/*
disabled look for already selected choices in the results dropdown
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
*/
.select2-results .select2-disabled {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('../img/select/spinner.gif') no-repeat 100%;
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}


/* multiselect */

.select2-container-multi .select2-choices {
    background-color: #fff;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
      background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      border: 1px solid #ccc;
      margin: 0;
      padding: 0;
      cursor: text;
      overflow: hidden;
      height: auto !important;
      height: 1%;
      position: relative;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #5897fb;
    outline: none;
}
.select2-container-multi .select2-choices li {
  float: right;
  list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.select2-container-multi .select2-choices .select2-search-field input {
  color: #666;
  background: transparent !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('../img/select/spinner.gif') no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  color: #333;
  border: 1px solid #ccc;
  line-height: 13px;
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url('../img/select/select2.png') right top no-repeat;
  outline: none;
}

.select2-container-multi .select2-search-choice-close {
  right: 3px;
}


.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */

.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 3px 5px 3px 5px;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}
/* end multiselect */

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match { text-decoration: underline; }
.select2-result-unselectable .select2-match { text-decoration: none; }

.select2-offscreen { position: absolute; left: -10000px; }

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
		background-image: url(../img/select/select2x2.png) !important;
		background-repeat: no-repeat !important;
		background-size: 60px 40px !important;
	}
	.select2-search input {
		background-position: 100% -21px !important;
	}
}


.show_hide{
	padding:6px 5px 5px 7px;
	border-right:1px solid #fff;
	
	
-webkit-border-top-left-radius: 3px;
-moz-border-radius-topleft: 3px;
border-top-left-radius: 3px;

-webkit-box-shadow: inset -1px 0px 0px #aa9553;
-moz-box-shadow: inset -1px 0px 0px #aa9553;
box-shadow: inset -1px 0px 0px #aa9553;
}

.show_hide:hover{
	-webkit-box-shadow: inset 1px 1px 2px #978242;
-moz-box-shadow: inset 1px 1px 2px #978242;
box-shadow: inset 1px 1px 2px #978242;
}





.fileInputField{
border-radius: 3px 0px 0px 3px;	
}

.file_input_button_hover{
	border:0;
	
	cursor:pointer;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #887126 0%, #473708 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #887126 0%, #6b5818 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #887126), color-stop(1, #6b5818));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #887126 0%, #6b5818 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #887126 0%, #6b5818 100%);

border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

border-radius: 0px 3px 3px 0px;

color: rgb(255, 255, 255);
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);


border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;

font-family:Tahoma, Geneva, sans-serif;
font-size:12px !important;
text-decoration:none;
cursor:pointer;
padding:0 5px;
}

.fileInputButton{
	border-radius: 0px 3px 3px 0px;
}

.file_input_textbox { float:left; }
.file_input_div     {position: relative;
height:40px; overflow: hidden; float:left; }

.file_input_hidden  {position:absolute; right:0px; top:0px; margin:0; cursor:pointer; height:40px;
                     opacity:0;
					 }
					 
					 
					 /* sGallery */
    .sGallery{position: relative; background: #f1f1f1; padding: 0px 10px 10px;}
        .sGallery .item{width: 150px; height: 94px; border: 5px solid #FFF; float: right; overflow: hidden;  margin: 5px; position: relative;}
            .sGallery .item a{display: block; width: 150px; text-align: center; position: relative;}
                .sGallery .item a img{height: auto; max-width: none; vertical-align: baseline; border: 0;}
                
                .sGallery .item ul.controls{position: absolute; right: -150px; top: 0px; margin: 0px; padding: 5px; list-style: none; height: 84px; background-color: rgba(255,255,255,.8);}
                    .sGallery .item ul.controls li{color: #333; display: block; float: left; clear: both; width: 75px;}
                    .sGallery .item ul.controls li a{display: block; float: left; text-align: left; padding: 0px; margin: 0px; color: #333; width: auto; text-decoration: none;}
                    .sGallery .item ul.controls li a:hover{color: #111;}
                        .sGallery .item ul.controls li [class^=icon]{display: block; float: left; margin-top: 3px; margin-right: 5px;}

/* eof sGallery */


.footer{
	width:100%;
	height:40px;
	float:right;
}

.noti-icon{
	background:#900;
	width:17px;
	height:17px;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-align:center;
line-height:15px;
}

.table-container{
	max-width:100%;
	overflow-x: auto;
}

.checker{
	float:left !important;
}



#divForm{
	margin:0 !important;
	padding:0 !important;
}

.coll_open {
            
background: url("../img/arrow/down-arrow-square-silver-Shapes4FREE.png");
    background-position: center center;
height: 15px;
width: 15px;
     display: inline-block;
           
        
        }
        .coll_close {
            
background: url("../img/arrow/rt-arrow-square-silver-Shapes4FREE.png");
    background-position: center center;
height: 15px;
width: 15px;
     display: inline-block;
        }
        