.ui_tpicker_time_label{
	float:left;
	width:20%;
}

.ui_tpicker_time{
	float:right;
	width:60%;
	text-align:left;
}

.ui_tpicker_hour_label{
	float:left;
	width:20%;
}

.ui_tpicker_hour{
	float:right;
	width:60%;
}

.ui_tpicker_minute_label{
	float:left;
	width:20%;
}

.ui_tpicker_minute{
	float:right;
	width:60%;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	color:#FFF;
	
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:0;

 	

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #54A1E6 0%, #4487C4 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #54A1E6 0%, #4487C4 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #54A1E6 0%, #4487C4 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #54A1E6), color-stop(1, #4487C4));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #54A1E6 0%, #4487C4 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #54A1E6 0%, #4487C4 100%);
}