                    <table class="ftr" width="100%" cellpadding="0" cellspacing="0" border="1">
                        <tr bgcolor="#f2f2f2">
                            <td align="center" width="205px">
                                <b>مكـة المكرمـة</b>
                            </td>
                            <td align="center" width="205px">
                                <b>المدينة المنـورة</b>
                            </td>
                            <td align="center" width="200px">
                                <b>جـــــدة</b>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <b>0504504141   /   0503505436 025500485    /   025500489  </b>
                            </td>
                            <td align="center">
                                <b>0504359736  /  0564681288  048157020 </b>
                            </td>
                            <td align="center">
                                <b>0569712101 <br /> 026737474 </b>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="3"><b>فاكـس   5500486  2  966  +   بريـــد الكتــروني:    </b><b>
                                    RMUVS@hotmail.com</b></td>
                        </tr>
                    </table>