/* *********************************************************************************************

How to Create CSS3 + jQuery Accordion Menu [Tutorial]
"How to Create CSS3 + jQuery Accordion Menu" that was specially made for DesignModo by our friend Valeriu Timbuc. 

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com/futurico
http://vladimirkudinov.com
http://rockablethemes.com

********************************************************************************************* */

/* Reset */
.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	z-index:999;
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 110px;
	padding: 0 5px 0;
	height: 32px;

	color: #fdfdfd;
	font: bold 11px/32px Tahoma, Geneva, sans-serif;
text-shadow: 0 1px white;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

	background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255, .1), 0px 0px 0px 1px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255, .1), 0px 0px 0px 1px rgba(0,0,0, .1);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255, .1), 0px 0px 0px 1px rgba(0,0,0, .1);
}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	color: #4f3906;
	text-shadow: 1px 1px 1px rgba(255,255,255, .2);
	
	/*background: url(../img/active.png) repeat-x;*/

background:#F7E4A9;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #F7E4A9), color-stop(1, #C0AA67));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #F7E4A9 0%, #C0AA67 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #F7E4A9 0%, #C0AA67 100%);
}

.accordion li > a span {
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	padding: 0 10px;
	margin-left: 10px;
	
	font: normal bold 11px Tahoma, Geneva, sans-serif;
text-shadow: 0 1px white;
	background: #404247;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
	color: #fdfdfd;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	background: #4f3906;
}

/* Images */

.accordion > li > a:before {
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	width: 24px;
	height: 24px;
	margin: 4px 8px;

	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px 0px;
}

.accordion li.files > a:before { background-position: 0px 0px; }
.accordion li.files:hover > a:before,
.accordion li.files:target > a:before,
.accordion li.files > a.active:before { background-position: 0px -24px; }

.accordion li.mail > a:before { background-position: -24px 0px; }
.accordion li.mail:hover > a:before,
.accordion li.mail:target > a:before,
.accordion li.mail > a.active:before { background-position: -24px -24px; }

.accordion li.cloud > a:before { background-position: -48px 0px; }
.accordion li.cloud:hover > a:before,
.accordion li.cloud:target > a:before,
.accordion li.cloud > a.active:before { background-position: -48px -24px; }

.accordion li.sign > a:before { background-position: -72px 0px; }
.accordion li.sign:hover > a:before,
.accordion li.sign:target > a:before,
.accordion li.sign > a.active:before { background-position: -72px -24px; }

/* Sub Menu */

.sub-menu li a {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #f5f5f5;
	border-bottom: 1px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255, .1), 0px 0px 0px 1px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255, .1), 0px 0px 0px 1px rgba(0,0,0, .1);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255, .1), 0px 0px 0px 1px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #efefef; color:#824f1d; }

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: transparent;
	border: 1px solid #c9c9c9;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sub-menu em {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 14px;
	color: #a6a6a6;
	font: normal 10px/32px Tahoma, Geneva, sans-serif;
text-shadow: 0 1px white;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}