.content{margin-right: 128px !important;} 

.ads{
	width:128px !important;
	top:48px !important;
	right:0px !important;
	left:auto !important;
	position:fixed !important;
}

.ad{
	width:120px !important;
	height:600px !important;
	float:right !important;
	margin-bottom:10px !important;
	border:4px #FFFFFF solid !important;
}