.content{margin-left: 188px !important;} 

.ads{
	width:188px !important;
	top:48px !important;
	left:0px !important;
	right:auto !important;
	position:fixed !important;
}

.ad{
	width:180px !important;
	height:150px !important;
	float:left !important;
	margin-bottom:10px !important;
	border:4px #FFFFFF solid !important;
}