.content{margin-right: 188px !important;} 

.ads{
	width:188px !important;
	top:48px !important;
	right:0px !important;
	left:auto !important;
	position:fixed !important;
}

.ad{
	width:180px !important;
	height:150px !important;
	float:right !important;
	margin-bottom:10px !important;
	border:4px #FFFFFF solid !important;
}