.content{margin-left: 248px !important;} 

.ads{
	width:248px !important;
	top:48px !important;
	left:0px !important;
	right:auto !important;
	position:fixed !important;
}

.ad{
	width:240px !important;
	height:400px !important;
	float:left !important;
	margin-bottom:10px !important;
	border:4px #FFFFFF solid !important;
}