
#colorNav > ul {
    float: left;
    margin: 0 auto;
    margin-top: -5px;
}
#colorNav > ul > li {
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    line-height: 1;
    list-style: none outside none;
    margin: 1px;
    position: relative;
    z-index: 2147483647;
}
#colorNav > ul > li > a {
    border: 1px solid #D8C484;
    border-radius: 4px;
    color: inherit;
    font-size: 24px;
    padding: 2px 5px 0;
    text-decoration: none !important;
}
#colorNav li ul {
    left: 50%;
    list-style: none outside none;
    margin-left: -15px;
    display: none;
    height: 450px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 15px!important;
    transition: max-height 0.4s linear 0s;
    width: 300px;
    padding-top: 24px;
    border-radius: 3px;
}
#colorNav li ul li {
    background-color: #eee;
    box-shadow: 0 1px #CACACA;
    text-align: right;
    line-height:20px;
    display: block;
    padding: 12px;
}
#colorNav li ul li a {
/*    color: #FFFFFF !important;*/
/*        display: block; */
/*        padding: 12px; */
	padding: 2px;
    text-decoration: none !important;
}
#colorNav li ul li:nth-child(2n+1) {
    background-color: #eee;
}
#colorNav li ul li:hover {
    background-color: #ccc;
}
#colorNav li ul li:first-child {
    
    
    position: relative;
}
#colorNav li ul:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #30302F;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    height: 1px;
    left: 13px;
    margin-left: -5px;
    position: absolute;
    top: -11px;
    width: 1px;
    margin-top: 25px;
}
#colorNav li ul li:last-child {

}
#colorNav li:hover ul {
    display: block;
}


