        #header { text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
        fieldset { border:none; max-width:100%;
		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
		}
        legend { font-size:18px; margin:0px; padding:10px 0px; color:#663300; font-weight:bold; display:none;}
        label { display:block; margin:5px 0 5px;}
        .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
        .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
        .prev { float:right;}
        .next { float:left;}
		.buttons-holder{
			width:100%;
			float:right;
			clear:both;
		}
		.content-holder{
			width:100%;
			float:right;
			clear:both;
		}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:20px; float:right; padding:10px; color:#666;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}
        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
        #makeWizard:hover { background-color:#000;}
		
		
		.step-size{
			width:14%;
			min-width:100px;
			float:right;
			background:url(../../img/wizard-arrow.png) no-repeat center left;
		}
		
		.step-size:last-child{
			background:none;
		}