                    <table class="ftr" width="100%" cellpadding="0" cellspacing="0" border="1">
                        <tr bgcolor="#f2f2f2">
                            <td align="center" width="205px">
                                <b>مكـة المكرمـة</b>
                            </td>
                            <td align="center" width="205px">
                                <b>المدينة المنـورة</b>
                            </td>
                            <td align="center" width="200px">
                                <b>جـــــدة</b>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <b>+9662 5702222  </b>
                            </td>
                            <td align="center">
                                <b>+9664 8205090  </b>
                            </td>
                            <td align="center">
                                <b>+9662 6683939    </b>
                            </td>
                        </tr>
                    </table>