<table style="font-size:12px"  width="100%" border="0" align="center" dir="rtl">
                            <tr>
                                <td style="text-decoration: underline;" align="center">
                                    <span style="border-bottom: 1px solid #000;">المتابعه في شركة وعد العالميه للسياحه بالمملكه العربيه السعوديه</span></td>
                            </tr>
                            <tr>
                              <td align="center"><strong>ا/محمد سمير & ا/خيري: 3135131-65416531351</strong></td>
                            </tr>
                            <tr>
                              <td><table width="100%" border="0">
                                <tr>
                                  <td align="center"><strong>مكتب 3 خطوط : 6102226/7/8  </strong></td>
                                  <td align="center"><strong>طوارئ ا/احمد جمال:0560006533</strong></td>
                                </tr>
                              </table></td>
                            </tr>
                            <tr>
                              <td align="center"><strong>وفي حالة اي شكوي يرجي الاتصال علي : 0552274488</strong></td>
                            </tr>
                          </table>